.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height:1.2;
    background-color: white;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    transition: all 0.2s ease;

    &:hover,
    &.is-hovered {
        border-color: #b5b5b5;

    }

    &:focus:not(:active),
    &.is-focused:not(:active) {
        box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
    }

    &.is-fullwidth {
        width: 100%;
    }

    &:last-child {
        margin-right: 0 !important;
    }
}

.button-primary {
    background-color: $color-primary;
    border: 1px solid transparent;
    color: white;

    &:hover,
    &.is-hovered {
        border: 1px solid transparent;
        // background-color: lighten($color-primary, 10%);
        filter: brightness(95%);
        color: white;
    }
}

.button-secondary {
    background-color: $color-secondary;
    border: 1px solid transparent;
    color: white;

    &:hover,
    &.is-hovered {
        border: 1px solid transparent;
        // background-color: lighten($color-secondary, 10%);
        filter: brightness(95%);
        color: white;
    }
}

.button-muted {
    background-color: $color-muted;
    border: 1px solid transparent;

    &:hover,
    &.is-hovered {
        border: 1px solid transparent;
        background-color: darken($color-muted, 10%);

    }
}

.button-success {
    background-color: $color-success;
    border: 1px solid transparent;
    color: white;

    &:hover,
    &.is-hovered {
        border: 1px solid transparent;
        background-color: darken($color-success, 10%);
        color: white;
    }
}

.button-danger {
    background-color: $color-danger;
    border: 1px solid transparent;
    color: white;

    &:hover,
    &.is-hovered {
        border: 1px solid transparent;
        background-color: darken($color-danger, 10%);
        color: white;
    }
}

.button-sm {
    font-size: .875rem;
}

.button-lg {
    font-size: 1.25rem;
}

.button:last-child {
    margin-right: 0 !important;
}


.button-group {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 1.5rem;

    .button {
        margin-right: 0.75rem;
        margin-bottom: 0.5rem;
    }

    &.is-centered {
        justify-content: center;
    }

    &.is-right {
        justify-content: flex-end;
    }
}

.button-group>.control {
    margin-bottom: 0;
}

.button-group>.control:not(:last-child) {
    margin-bottom: 0.75rem;
    margin-right: .75rem;
}
.button[disabled] {
    cursor: not-allowed;
      box-shadow: none;
      opacity: 0.5;
      pointer-events: none;
}
