//----------------inputs------------------//

.select select,
.textarea,
.input,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    border-radius: 0;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;
}


.select select:focus,
.textarea:focus,
.input:focus,
.select select.is-focused,
.is-focused.textarea,
.is-focused.input,
.select select:active,
.textarea:active,
.input:active,
.select select.active,
.active.textarea,
.active.input {
    outline: none;
}


.select select[disabled],
[disabled].textarea,
[disabled].input,
fieldset[disabled] .select select,
.select fieldset[disabled] select,
fieldset[disabled] .textarea,
fieldset[disabled] .input {
    cursor: not-allowed;
}


.select::after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.625em;
    margin-top: -0.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 0.625em;
}
.select select,
.textarea,
.input {
    background-color: white;
    border-color: #dbdbdb;
    border-radius: 4px;
    border-radius: 0;
    color: #363636;
}

.select select::-moz-placeholder,
.textarea::-moz-placeholder,
.input::-moz-placeholder {
    color: rgba(54, 54, 54, 0.3);
}

.select select::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder,
.input::-webkit-input-placeholder {
    color: rgba(54, 54, 54, 0.3);
}

.select select:-moz-placeholder,
.textarea:-moz-placeholder,
.input:-moz-placeholder {
    color: rgba(54, 54, 54, 0.3);
}

.select select:-ms-input-placeholder,
.textarea:-ms-input-placeholder,
.input:-ms-input-placeholder {
    color: rgba(54, 54, 54, 0.3);
}

.select select:hover,
.textarea:hover,
.input:hover,
.select select.is-hovered,
.is-hovered.textarea,
.is-hovered.input {
    border-color: #b5b5b5;
}

.select select:focus,
.textarea:focus,
.input:focus,
.select select.is-focused,
.is-focused.textarea,
.is-focused.input,
.select select:active,
.textarea:active,
.input:active,
.select select.active,
.active.textarea,
.active.input {
    border-color: $link-color;
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.select select[disabled],
[disabled].textarea,
[disabled].input,
fieldset[disabled] .select select,
.select fieldset[disabled] select,
fieldset[disabled] .textarea,
fieldset[disabled] .input {
    background-color: whitesmoke;
    border-color: whitesmoke;
    box-shadow: none;
    color: #7a7a7a;
}

.select select[disabled]::-moz-placeholder,
[disabled].textarea::-moz-placeholder,
[disabled].input::-moz-placeholder,
fieldset[disabled] .select select::-moz-placeholder,
.select fieldset[disabled] select::-moz-placeholder,
fieldset[disabled] .textarea::-moz-placeholder,
fieldset[disabled] .input::-moz-placeholder {
    color: rgba(122, 122, 122, 0.3);
}

.select select[disabled]::-webkit-input-placeholder,
[disabled].textarea::-webkit-input-placeholder,
[disabled].input::-webkit-input-placeholder,
fieldset[disabled] .select select::-webkit-input-placeholder,
.select fieldset[disabled] select::-webkit-input-placeholder,
fieldset[disabled] .textarea::-webkit-input-placeholder,
fieldset[disabled] .input::-webkit-input-placeholder {
    color: rgba(122, 122, 122, 0.3);
}

.select select[disabled]:-moz-placeholder,
[disabled].textarea:-moz-placeholder,
[disabled].input:-moz-placeholder,
fieldset[disabled] .select select:-moz-placeholder,
.select fieldset[disabled] select:-moz-placeholder,
fieldset[disabled] .textarea:-moz-placeholder,
fieldset[disabled] .input:-moz-placeholder {
    color: rgba(122, 122, 122, 0.3);
}

.select select[disabled]:-ms-input-placeholder,
[disabled].textarea:-ms-input-placeholder,
[disabled].input:-ms-input-placeholder,
fieldset[disabled] .select select:-ms-input-placeholder,
.select fieldset[disabled] select:-ms-input-placeholder,
fieldset[disabled] .textarea:-ms-input-placeholder,
fieldset[disabled] .input:-ms-input-placeholder {
    color: rgba(122, 122, 122, 0.3);
}

.textarea,
.input {
    box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
    max-width: 100%;
    width: 100%;
}

[readonly].textarea,
[readonly].input {
    box-shadow: none;
}

.is-small.textarea,
.is-small.input {
    border-radius: 2px;
    font-size: 0.75rem;
}

.is-medium.textarea,
.is-medium.input {
    font-size: 1.25rem;
}

.is-large.textarea,
.is-large.input {
    font-size: 1.5rem;
}

.is-fullwidth.textarea,
.is-fullwidth.input {
    display: block;
    width: 100%;
}

.is-inline.textarea,
.is-inline.input {
    display: inline;
    width: auto;
}

.textarea {
    display: block;
    max-width: 100%;
    min-width: 100%;
    padding: calc(0.75em - 1px);
    resize: vertical;
}

.textarea:not([rows]) {
    max-height: 40em;
    min-height: 8em;
}

.textarea[rows] {
    height: initial;
}

.textarea.has-fixed-size {
    resize: none;
}


//----------------radio & Checkbox------------------//
.radio,
.checkbox {
    cursor: pointer;
    display: inline-block;
    line-height: 1.25;
    position: relative;
}

.radio input,
.checkbox input {
    cursor: pointer;
}

.radio:hover,
.checkbox:hover {
    color: #363636;
}

[disabled].radio,
[disabled].checkbox,
fieldset[disabled] .radio,
fieldset[disabled] .checkbox,
.radio input[disabled],
.checkbox input[disabled] {
    color: #7a7a7a;
    cursor: not-allowed;
}

.radio+.radio {
    margin-left: 0.5em;
}


//----------------select------------------//
.select {
    display: inline-block;
    max-width: 100%;
    position: relative;
    vertical-align: top;
}


.select {
    height: 2.5em;
}

.select::after {
    border-color: $link-color;
    right: 1.125em;
    z-index: 4;
}



.select select {
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    outline: none;
}

.select select::-ms-expand {
    display: none;
}

.select select[disabled]:hover,
fieldset[disabled] .select select:hover {
    border-color: whitesmoke;
}



.select select{
    padding-right: 2.5em;
}

.select:not(.is-multiple):not(.is-loading):hover::after  {
    border-color: #363636;
}

.select.is-small {
    border-radius: 2px;
    font-size: 0.75rem;
}

.select.is-medium {
    font-size: 1.25rem;
}

.select.is-large {
    font-size: 1.5rem;
}

.select.is-disabled::after {
    border-color: #7a7a7a;
}

.select.is-fullwidth {
    width: 100%;
}

.select.is-fullwidth select {
    width: 100%;
}

//----------------labels------------------//
.label {
    color: #363636;
    display: block;
    font-size: 0.875rem;
}

.label:not(:last-child) {
    margin-bottom: 0.5em;
}

.label.is-small {
    font-size: 0.75rem;
}

.label.is-medium {
    font-size: 1.25rem;
}

.label.is-large {
    font-size: 1.5rem;
}

.help {
    display: block;
    font-size: 0.75rem;
    margin-top: 0.25rem;
}


// ---------------form input containers----------------------//
.field-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    @include sm-up {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0;
    }

    &.is-half {
        .field {
            @include sm-up {
                width: 45%;
            }
        }

    }
}

.field:not(:last-child) {
    margin-bottom: 1rem;
}


.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: inherit;
}

.control.is-expanded {
    flex-grow: 1;
    flex-shrink: 1;
}



// ---------------form input addons (eg browse file input)----------------------//

.field.has-addons {
    display: flex;
    justify-content: flex-start;
}

.field.has-addons .control:not(:last-child) {
    margin-right: -1px;
}

.field.has-addons .control:not(:first-child):not(:last-child) .button,
.field.has-addons .control:not(:first-child):not(:last-child) .input,
.field.has-addons .control:not(:first-child):not(:last-child) .select select {
    border-radius: 0;
}

.field.has-addons .control:first-child:not(:only-child) .button,
.field.has-addons .control:first-child:not(:only-child) .input,
.field.has-addons .control:first-child:not(:only-child) .select select {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.field.has-addons .control:last-child:not(:only-child) .button,
.field.has-addons .control:last-child:not(:only-child) .input,
.field.has-addons .control:last-child:not(:only-child) .select select {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.field.has-addons .control .button:not([disabled]):hover,
.field.has-addons .control .button:not([disabled]).is-hovered,
.field.has-addons .control .input:not([disabled]):hover,
.field.has-addons .control .input:not([disabled]).is-hovered,
.field.has-addons .control .select select:not([disabled]):hover,
.field.has-addons .control .select select:not([disabled]).is-hovered {
    z-index: 2;
}

.field.has-addons .control .button:not([disabled]):focus,
.field.has-addons .control .button:not([disabled]).is-focused,
.field.has-addons .control .button:not([disabled]):active,
.field.has-addons .control .button:not([disabled]).is-active,
.field.has-addons .control .input:not([disabled]):focus,
.field.has-addons .control .input:not([disabled]).is-focused,
.field.has-addons .control .input:not([disabled]):active,
.field.has-addons .control .input:not([disabled]).is-active,
.field.has-addons .control .select select:not([disabled]):focus,
.field.has-addons .control .select select:not([disabled]).is-focused,
.field.has-addons .control .select select:not([disabled]):active,
.field.has-addons .control .select select:not([disabled]).is-active {
    z-index: 3;
}

.field.has-addons .control .button:not([disabled]):focus:hover,
.field.has-addons .control .button:not([disabled]).is-focused:hover,
.field.has-addons .control .button:not([disabled]):active:hover,
.field.has-addons .control .button:not([disabled]).is-active:hover,
.field.has-addons .control .input:not([disabled]):focus:hover,
.field.has-addons .control .input:not([disabled]).is-focused:hover,
.field.has-addons .control .input:not([disabled]):active:hover,
.field.has-addons .control .input:not([disabled]).is-active:hover,
.field.has-addons .control .select select:not([disabled]):focus:hover,
.field.has-addons .control .select select:not([disabled]).is-focused:hover,
.field.has-addons .control .select select:not([disabled]):active:hover,
.field.has-addons .control .select select:not([disabled]).is-active:hover {
    z-index: 4;
}

.field.has-addons .control.is-expanded {
    flex-grow: 1;
    flex-shrink: 1;
}

.field.is-grouped {
    display: flex;
    justify-content: flex-start;
}

.field.is-grouped>.control {
    flex-shrink: 0;
}

.field.is-grouped>.control:not(:last-child) {
    margin-bottom: 0;
    margin-right: 0.75rem;
}

.field.is-grouped>.control.is-expanded {
    flex-grow: 1;
    flex-shrink: 1;
}

.error-block, .help-block {
    display: block;
    font-size: .75rem;
    margin-top: .25rem;
}
label.error {
    color: $color-danger;
    display: block;
    font-size: .75rem;
    margin-top: .25rem;
}