.topbar {
    background-color: #F4F9FC;
    padding: 1.125rem;
    text-align: center;
}




// ----------------------- HERO -----------------------//
.store_hero {
    background: #ffffff url('{{ "img/bg.jpg" | asset_url }}') no-repeat bottom right;
    background-size: cover;

}

.store_hero-content {
    padding: 3rem 1.5rem;

    @include md-up {
        padding: 12rem 3rem;
    }
}

.store_hero-text {
    margin-bottom: 1.5rem;
}

.store_hero-title {
    margin-bottom: 0.875rem;
    line-height: 1.2;
}

.store_hero-subtitle {
    font-size: 1.5rem;
}



// ----------------------- COLLECTION -----------------------//


.store_collection-list {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.store_collection-row {

    @include md-up {
        display: flex;
    }

    @include xl-up {
        margin-left: -.75rem;
        margin-right: -.75rem;
    }


}

.store_collection-item {
    @include column;
    padding: 0.75rem;

}

.store_collection-item-inner {
    background: #F4F9FC;
    height: 100%;
}

.store_collection-item-content {
    padding: 0.75rem;

    @include md-up {
        padding: 1.5rem 3rem;
    }
}

.store_collection-item-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.875rem;
}

.store_collection-item-subtitle {
    font-size: 1.125rem;
    margin-bottom: 1.125rem;
}

// ----------------------- PRODUCTS SECTION -----------------------//


.store_products-list {
    padding: 3rem 0;
}

.store_products-row {
    display: flex;
    flex-wrap: wrap;

    @include xl-up {
        margin-left: -.75rem;
        margin-right: -.75rem;
    }
}

.store_products-item {
    @include column;
    margin-bottom: 1.5rem;

    @include sm-up {
        margin-bottom: 0;
        flex: none;
        width: 50%;
    }

    @include lg-up {
        width: 25%;
    }
}

.store_products-item-inner {
    padding: .75rem;
    background: #fff;
    height: 100%;
}


.store_products-img {
    position: relative;
    margin-bottom: 1.125rem;

}

.store_products-item-tag {
    position: absolute;
    top: 5%;
    left: 5%;
}

.store_products-title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.store_products-desc {
    font-size: $text-lg;
    margin-bottom: 0.875rem;
}

.store_products-rating {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.store_products-rating-stars {
    letter-spacing: -0.1rem;

    .is-count {
        color: $link-color;
    }
}

.store_products-rating-text {
    margin-left: 1rem;
}

.store_products-price {
    margin-bottom: 1.5rem;
}


// ----------------------- FEATURE SECTION -----------------------//
.store_products {
    padding: 3rem 0;
}

.store_products-header {
    text-align: center;
}

.store_feature-content {
    padding: 3rem 0;

    @include md-up {
        display: flex;
        align-items: center;
    }

}

.store_feature-content-lg {
    padding: 9rem 1.5rem
}

.store_feature-text {
    @include column;
    margin-bottom: 1.5rem;

    @include md-up {
        padding: .75rem 1.5rem;
    }

}

.store_feature-title {
    margin-bottom: 1.5rem;
}

.store_feature-subtitle {
    font-size: 1.125rem;
    margin-bottom: 3rem;
}


.store_feature-img {
    @include column;
    text-align: center;

    @include md-up {
        flex: none;
        width: 40%;

    }
}



// ----------------------- TESTIMONIALS SECTION -----------------------//
.store_testimonials {
    padding: 3rem 0;

    @include md-up {
        padding: 6rem 0;
    }
}

.store_testimonials-header {
    text-align: center;
}

.store_testimonials-list {
    padding: 1.5rem;

    @include md-up {
        padding: 3rem 0;
    }
}

.store_testimonials-row {
    .slick-track {
        display: flex;
        align-items: stretch;
    }

}

.store_testimonials-item {
    padding: 0.75rem;
    height: auto !important;

}

.store_testimonials-item-inner {
    padding: 1.5rem 3rem;
    background: #f5f5f5;

    height: 100%;
}

.store_testimonials-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.store_testimonials-rating {
    margin-bottom: 1.5rem;
}


.store_testimonials-text {
    margin-bottom: 1.5rem;
}

.store_testimonials-name {
    font-weight: bold;
}


// ----------------------- GRID SECTION -----------------------//

.store_grid-list {
    padding: 3rem 0;

    @include md-up {
        padding: 6rem 0
    }
}

.store_grid-row {
    margin-top: -.75rem;

    @include sm-down {
        &:not(:last-child) {
            margin-bottom: calc(1.5rem - .75rem);
        }
    }

    @include sm-up {
        display: flex;
    }

    @include xl-up {
        margin-left: -.75rem;
        margin-right: -.75rem;
    }
}

.store_grid-item {
    @include column;

    @include md-up {
        margin-bottom: 0;
    }
}

.store_grid-item-inner {
    background: #fff;
    height: 100%;
}

.store_grid-item-content {
    padding: 0.75rem;

    @include md-up {
        padding: 1.5rem 3rem;
    }
}

.store_grid-item-img {
    margin-bottom: 1.5rem;

    img {
        max-height: 55px;
    }
}

.store_grid-item-title {
    font-weight: bold;
    margin-bottom: 0.875rem;
}