.register_page {
	padding-top:1.5rem;
}
.register_header {
	text-align: center;
	margin-bottom: 3rem;
}
.register_form-login, .register_form-new, .register_form-forgot-pass {
	max-width: 650px;
	margin: 0 auto 6rem;
	padding: 0 1rem;
}
.register_resetpassword-link {
	text-align: right;
	padding-top: 1.5rem;
	
}
.register_terms {
	padding-top: 3rem;
	font-size: 0.875rem;
}