// breakpoints
$sm: 500px;
$md-down: 768px;
$md: 769px;
$lg-up: 1024px;
$lg-down: 1023px;
$xl-up: 1216px;
$xl-down: 1215px;
$xxl-up: 1408px;

// nav height
$navh:3.25rem;
$navhm:$navh;

// colors
$color-primary:var(--primary-color);
$color-secondary:var(--accent-color);
$color-muted:#f2f2f2;
$color-success:#48c78e;
$color-danger:#e02447;
$color-warning: #ffe08a;
$color-body:#4a4a4a;
$link-color: $color-primary;
$nav-item-color: #4a4a4a;
$nav-item-active-color: $link-color;


// font-size
$text-lg:1.125rem;
$text-default:1rem;
$text-sm:0.875rem; 


$body-font: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;