// breakpoints
$sm: 500px;
$md-down: 768px;
$md: 769px;
$lg-up: 1024px;
$lg-down: 1023px;
$xl-up: 1216px;
$xl-down: 1215px;
$xxl-up: 1408px;

// nav height
$navh:3.25rem;
$navhm:$navh;

// colours
// $color-primary:#3273dc;
// $color-secondary:#dc9b32;
$color-primary:var(--primary_color);
$color-secondary:var(--accent_color);
$color-muted:#f2f2f2;
$color-success:#48c78e;
$color-danger:#e02447;
$color-warning: #ffe08a;
$color-body:#4a4a4a;
$link-color: $color-primary;
// $link-hover-color: lighten($link-color, 10%);
$nav-item-color: #4a4a4a;
$nav-item-active-color: $link-color;


// font-size
$h1:3.125rem; // ~50px
$h2:2.5rem; // ~40px
$h3:2.25rem; // ~36px
$h4:1.75rem; // ~28px
$h5:1.5rem; // ~24px
$h6:1.25rem; // ~20px
$text-lg:1.125rem; // ~18px
$text-default:1rem; // ~16px
$text-sm:0.875rem; // ~14px;


$body-font: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;