{% if form.is_bound and not form.is_valid %}
    <div class="notification notification-danger">
        <button class="delete"></button>
        {% t "global.error.please_check_error" %}
    </div>
{% endif %}


{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="notification notification-danger">
             {{ error }}
        </div>
    {% endfor %}
{% endif %}

    {% for field in form %}
        {% if field.name == 'country' %}
            {% include 'partials/form_field.html' with field=form.country style='col-sm-12' size='full' %}
        {% elif field.name == 'phone_number' %}
            {% include 'partials/form_field.html' with field=form.phone_number style='col-sm-6' %}
            {% include 'partials/form_field.html' with field=form.phone_number_country style='col-sm-6' %}
        {% elif field.name != 'same_as_shipping' and field.name != 'email' %}
            {% include 'partials/form_field.html' with field=field style='col-sm-6' %}
        {% endif %}
    {% endfor %}

{% if not request.user.is_authenticated %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                {% include 'partials/form_field.html' with field=form.email class='' %}
            </div>
        </div>
    </div>
{% endif %}