<h4>{% t "customer.subscriptions.credit_card" %}</h4>
    <div class=" {% if payment_method == 'bankcard' %}show{% endif %}" id="bankcard" >
        {% if bankcards %}
            <table>
                <thead>
                    <tr>
                        <th>{% t "customer.subscriptions.existing_cards" %}</th>
                        <th>{% t "customer.subscriptions.name_on_card" %}</th>
                        <th>{% t "customer.subscriptions.card_expires" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bankcard in bankcards %}
                    <tr>
                        <td data-label="Payment Method">
                            <div class="control">
                                
                                <label class="radio" for="bankcard_{{ bankcard.id }}">
                                    <input required type="radio" name="bankcard_id" id="bankcard_{{ bankcard.id }}" value="{{ bankcard.id }}" {% if bankcard.id == bankcard_id|add:"0" or not bankcard_id and not forloop.counter0 %} checked{%endif %}> <strong>{{bankcard.card_type}}</strong>&nbsp{% t "customer.subscriptions.ending_in" %} {{ bankcard.last_four }}</label>
                            </div>
                        </td>
                        <td>
                            {{ bankcard.name|default:"-"}}
                        </td>
                        <td>
                            {{ bankcard.expiry_date|date:"m-Y"}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="field">
                <div class="control">
                    <label class="checkbox" for="id_use_new_card">
                        <input type="checkbox" name="add_new_card" class="custom-control-input" id="id_use_new_card" {% if bankcard_form.is_bound and not bankcard_form.is_valid and not bankcard_id %}checked{% endif %}> {% t "customer.subscriptions.use_new_credit_card" %}
                    </label>
                </div>
            </div>
        {% endif %}
        <div id="new_credit_card_form" {% if bankcard_form.is_bound and not bankcard_form.is_valid and not bankcard_id %}{% elif bankcards %}style="display: none;"{% endif %}>
            {% include "partials/bankcard_form_fields.html" with form=bankcard_form %}
            <hr>
            <h4>{% t "customer.subscriptions.billing_address" %}</h4>
            <div class="field">
                <div class="control">
                    <label class="checkbox" for="{{ billing_address_form.same_as_shipping.id_for_label }}">
                        {% render_field billing_address_form.same_as_shipping class+='custom-control-input' %} {% t "customer.subscriptions.same_as_shipping_address" %}
                    </label>
                </div>
            </div>
            <div id="billing_address_form">
                {% include "partials/address_form_fields.html" with form=billing_address_form %}
            </div>
        </div>
</div>