<footer class="store_footer">
    <div class="store_footer-top">
        <div class="store_container">
            <div class="store_footer-links">
                <div class="store_footer-column">
                    <div class="store_footer-links-header">
                        {% t "navigation.footer.about_us" %}
                    </div>
                    <ul>
                        <li><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
                        <li><a href="{% url 'catalogue:index' %}">{% t "navigation.main.shop" %}</a></li>
                        <li><a href="{% url 'blog:blog-list' %}">{% t "navigation.main.blog" %}</a></li>
                    </ul>
                </div>
                <div class="store_footer-column">
                    <div class="store_footer-links-header">
                        {% t "navigation.footer.account_info" %}
                    </div>
                    <ul>
                        <li><a href="{% url 'cart:summary' %}">{% t "navigation.main.cart" %}</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'customer:summary' %}">{% t "navigation.account.account" %}</a></li>
            
                        <li><a href="{% url 'customer:logout' %}">{% t "navigation.account.logout" %}</a></li>
                        {% else %}
                        <li><a href="{% url 'customer:login' %}">{% t "navigation.account.login_or_register" %}</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="store_footer-column">
                    <div class="store_footer-links-header">
                        {% t "navigation.footer.support_terms" %}
                    </div>
                    <ul>
                        <li><a href="{% url 'support:category-list' %}"><span>{% t "navigation.footer.support" %}</span></a></li>
                        <li><a href="/terms/">{% t "navigation.footer.terms_conditions" %}</a></li>
                        <li><a href="/privacy/">{% t "navigation.footer.privacy" %}</a></li>
                    </ul>
                </div>
                <div class="store_footer-column">
                    <div class="store_footer-links-header">
                        {% t "navigation.footer.contact_us" %}
                    </div>
                    <ul>
                        <li><a href="/contact/">{% t "navigation.main.contact" %} </a></li>
                        {% if store.phone %}
                            <li><a href="tel:{{ store.phone }}">{{ store.phone }} </a></li>
                        {% endif %}
                        <li><a href="mailto:{{ support_email }}">{{ support_email }}</a></li>
                    </ul>
                </div>
                {% if store.address.line_1 %}
                <div class="store_footer-column">
                    <div class="store_footer-links-header">
                        {% t "navigation.footer.address" %}
                    </div>
                    <address>
                        {% if store.legal_name %}{{ store.legal_name }}<br>{% endif %}
                        {% if store.address.line_1 %}{{ store.address.line_1 }}<br>{% endif %}
                        {% if store.address.line_2 %}{{ store.address.line_2 }}<br>{% endif %}
                        {% if store.address.city and store.address.state  %}
                            {{ store.address.city }}, {{ store.address.state }}<br>
                        {% elif store.address.city and not store.address.state %}
                            {{ store.address.city }}<br>
                        {% elif store.address.state and not store.address.city %}
                            {{ store.address.state }}<br>
                        {% endif %}
                        {% if store.address.postcode %}{{ store.address.postcode }}<br>{% endif %}
                        {% if store.address.country %}{{ store.address.country }}<br>{% endif %}
                    </address>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="store_footer-bottom">
        <div class="store_container">
            <div class="store_footer-legal">
                <div class="store_footer-copy">
                    &copy;{% now "Y" %} {{ store.name }}. {% t "navigation.footer.copyright" %}
                </div>
                <div class="store_footer-paymeths">
                    <span class="pay-icon pay-icon-visa"></span>&nbsp;
                    <span class="pay-icon pay-icon-mc"></span>&nbsp;
                    <span class="pay-icon pay-icon-ppal"></span>&nbsp;
                    <span class="pay-icon pay-icon-klarna"></span>&nbsp;
                    <span class="pay-icon pay-icon-amex"></span>&nbsp;
                    <span class="pay-icon pay-icon-discover"></span>&nbsp;
                    <span class="pay-icon pay-icon-jcb"></span>&nbsp;
                    <span class="pay-icon pay-icon-dankort"></span>&nbsp;
                </div>
            </div>
        </div>
    </div>
</footer>