{% with all_images=product.get_all_images %}
<div class="slider-for">
     {% for image in all_images %}{% image_thumbnail image.original "850x850" crop="center" as thumb %}
        <div>
            <a href="{{ thumb.url }}">
                <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
            </a>
        </div>
     {% endfor %}
</div>
{% if all_images|length > 1 %}
{% if all_images|length < 4 %}
<div class="slider-nav is-no-scroll">
{% else %}    
<div class="slider-nav">
{% endif %}
{% for image in all_images %}{% image_thumbnail image.original "250x250" crop="center" as thumb %}
    <div id="{{ image.id }}">
        <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}