{% extends "layouts/customer_base.html" %}

{% block header %}<h4>{% t "customer.support.heading" %}</h4>{% endblock %}

{% block tabcontent %}
    {% if supports %}
    <div class="account_support">
        <div class="account_support-add">
            <div class="text-bold">{% t "customer.support.support_tickets" %}</div>
            <a href="{% url 'customer:support-ticket-create' %}" class="button">{% t "customer.support.create_new" %}</a>
        </div>
        <table class="account_table">
            <thead>
                    <tr>
                        <th scope="col">{% t "tables.heading.id" %}</th>
                        <th scope="col">{% t "tables.heading.subject" %}</th>
                        <th scope="col">{% t "tables.heading.last_updated" %}</th>
                        <th scope="col">{% t "tables.heading.priority" %}</th>
                        <th scope="col">{% t "tables.heading.status" %}</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>

                <tbody>
                    {% for support in supports %}
                        <tr>
                            <td data-label='{% t "tables.heading.id" %}'><a href="{% url 'customer:support-ticket-detail' support.id %}">{{ support.id }}</a></td>
                            <td data-label='{% t "tables.heading.subject" %}'><a href="{% url 'customer:support-ticket-detail' support.id %}">{{ support.subject }}</a></td>
                            <td data-label='{% t "tables.heading.last_updated" %}'>{{ support.updated_at }}</td>
                            <td data-label='{% t "tables.heading.priority" %}'>{{ support.priority|title }}</td>
                            <td data-label='{% t "tables.heading.status" %}'>
                                {% if support.status == support.TICKET_STATUS_SOLVED %}
                                    <span class="tag tag-success">{{ support.status|title }}</span>
                                {% elif support.status == support.TICKET_STATUS_PENDING %}
                                    <span class="tag tag-warning">{{ support.status|title }}</span>
                                {% else %}
                                    <span class="tag tag tag-primary">{{ support.status|title }}</span>
                                {% endif %}
                            </td>
                            <td data-label='{% t "tables.heading.action" %}'><a href="{% url 'customer:support-ticket-detail' support.id %}" class="button button-sm">{% t "tables.actions.view" %}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "partials/pagination.html" %}
    {% else %}
        <p>{% t "customer.support.no_tickets" %}</p>
        <div class="button-group">
        <a href="{% url 'customer:support-ticket-create' %}" class="button">{% t "customer.support.create_new" %}</a>
    </div>
    {% endif %}

{% endblock tabcontent %}