{% extends 'layouts/base.html' %}

{% block title %}{% t "store.registration.enter_new_password" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}

<section class="store_breadcrumbs">
        <div class="store_container">
            <nav class="store_breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
                    <li><a href="{% url 'password-reset' %}">{% t "navigation.account.account" %}</a></li>
                    <li class="is-active"><a href="#" aria-current="page">{% t "store.registration.password_recovery" %}</a></li>
                </ul>
            </nav>

        </div>
    </section>
{% endblock %}

{% block content %}
<section class="register_page">
    <div class="store_container">
        <div class="page_content-body content-body">
        {% if validlink %}
            <h2>{% t "store.registration.welcome" %}</h2>
            <p>{% t "store.registration.create_your_password with site_name=site.name" %}</p>
            <ul>
              <li>{% t "store.registration.manage_orders" %}</li>
              <li>{% t "store.registration.personal_settings" %}</li>
            </ul>
            <form id="password_reset_form" action="." method="post">
                {% csrf_token %}
                <div class="mb-5">
                   {% include 'partials/form_fields.html' with style='stacked' %}
                </div>
                <div class="field">
                    <button class="button button-primary" type="submit" data-loading-text='{% t "store.registration.continue_to_account" %}'>{% t "store.registration.continue_to_account_loading" %}</button>
                </div>
            </form>
        {% else %}
            <h2>{% t "store.registration.reset_unsuccessful" %}</h2>
            <p>{% t "store.registration.reset_unsuccessful_message" %}</p>
        {% endif %}
        </div>
    </div>
</section>
{% endblock %}