{% extends 'layouts/base.html' %}

{% block title %}{% t "store.registration.password_reset" %}| {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    
    <section class="store_breadcrumbs">
    	<div class="store_container">
	        <nav class="store_breadcrumb" aria-label="breadcrumbs">
	            <ul>
	                <li><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
	                <li><a href="{% url 'customer:profile-view' %}">{% t "navigation.account.account" %}</a></li>
	                <li class="is-active"><a href="#" aria-current="page">{% t "store.registration.password_reset" %}</a></li>
	            </ul>
	        </nav>
	    </div>
	</section>
{% endblock %}

{% block content %}
<section class="register_page">
    <div class="store_container">
        <div class="register_header">
            <div class="h4">{% t "store.registration.password_reset" %}</div>
            <div class="font-lg">{% t "store.registration.password_reset_text" %}</div>
        </div>
        <div class="register_form-forgot-pass">
        	<form id="password_reset_form" action="." method="post">
        		{% csrf_token %}
	            {% include 'partials/form_fields.html' with size='md' %}
	            <div class="field button-group">
	                <div class="control is-expanded">
	                    <button type="submit" class="button button-lg is-fullwidth" data-loading-text='{% t "store.registration.send_reset_email_loading" %}'>{% t "store.registration.send_reset_email" %}</button>
	                </div>
	            </div>
	        </form>
        </div>
    </div>
</section>
{% endblock %}