{% extends 'layouts/base.html' %}

{% block title %}{% t "store.registration.password_reset_complete" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}

<section class="store_breadcrumbs">
        <div class="store_container">
            <nav class="store_breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
                    <li><a href="{% url 'password-reset' %}">{% t "store.registration.password_reset" %}</a></li>

                    <li class="is-active"><a href="#" aria-current="page">{% t "store.registration.complete" %}</a></li>
                </ul>
            </nav>

        </div>
    </section>
{% endblock %}

{% block content %}
<section class="register_page">
    <div class="store_container">
        <div class="page_content-body content-body">
            <h2>{% t "store.registration.password_reset_complete" %}</h2>
            <p>{% t "store.registration.password_reset_complete_message" %}</p>
            <a href="{{ login_url }}" class="button button-primary">{% t "global.button.login" %}</a>
        </div>
    </div>
</div>
{% endblock %}