{% extends "layouts/base.html" %}


{% block title %}
    {% t "customer.login.title" %} | {{ block.super }}
{% endblock %}


{% block breadcrumbs %}
    
    <section class="store_breadcrumbs">
    	<div class="store_container">
	        <nav class="store_breadcrumb" aria-label="breadcrumbs">
	            <ul>
	                <li><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
	                <li><a href="{% url 'customer:profile-view' %}">{% t "navigation.account.account" %}</a></li>
	                <li class="is-active"><a href="#" aria-current="page">{% t "customer.login.title" %}</a></li>
	            </ul>
	        </nav>
	    </div>
	</section>
{% endblock %}

{% block content %}
	<section class="register_page">
	    <div class="store_container">
	    	{% include "partials/alert_messages.html" %}
	        <div class="register_header">
	            <div class="h4">{% t "customer.login.heading" %}</div>
	           <div class="font-lg">
		            {% url 'customer:register' as register_url %}
		            {% t "customer.login.register_link" with link=register_url %}
		        </div>
	        </div>
	        <div class="register_form-login">
	        	<form id="login_form" action="{{ request.get_full_path }}" method="post">
	        		{% csrf_token %}
	        		{% include "partials/form_fields.html" with form=login_form size='md' %}
	        		<div class="field button-group">
		                <div class="control is-expanded">
		                    <button name="login_submit" type="submit" value="Log In" class="button button-lg is-fullwidth" data-loading-text='{% t "global.button.login_loading" %}'>{% t "global.button.login" %}</button>
		                </div>
		            </div>
                        <div class="register_resetpassword-link">
			                <a href="{% url 'password-reset' %}">{% t "customer.login.forgot_password" %}</a>
			     

			            </div>
                            {% if allow_signup_with_phone_number %}
                            <div class="register_resetpassword-link">
		              		 	<a href="{% url 'otp:otp-request' %}?next={{ next_url }}">{% t "customer.login.sms" %}</a>
		            		</div>		    
                            {% endif %}
                        
  

		            
		        </form>
		        {% if allow_login_with_facebook %}
                    <h5>{% t "customer.login.social" %}</h5>
                    <hr class="margin-bottom-1x">
                    {% load socialaccount %}
	                    {% providers_media_js %}
	                    <a class="button" href="{% provider_login_url "facebook" method="oauth2" %}">{% t "customer.login.facebook" %}</a>
	            {% endif %}

	            <div class="register_terms">
			               <!--  By continuing you accept our <a href="/terms/">Terms & Conditions</a> and <a href="/privacy/">Privacy Policy</a>. -->
			            </div>

	        </div>
	    </div>
	</section>
{% endblock content %}