{% extends 'layouts/base.html' %}

{% block title %}
    {% if page_type == 'reset_via_email' %}
        {% t "store.registration.password_reset" %} | {{ block.super }}
    {% elif page_type == "resetting" %}
        {% t "store.registration.reset_email_sent_title" %} | {{ block.super }}
    {% elif page_type in "new_password,reset_password" %}
        {% t "store.registration.enter_new_password" %} | {{ block.super }}
    {% elif page_type == "reset_complete" %}
        {% t "store.registration.password_reset_complete" %} | {{ block.super }}
    {% elif page_type ==  'set_anonymous_password' %}
        {% t "store.registration.enter_new_password" %} | {{ block.super }}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
<section class="store_breadcrumbs">
    <div class="store_container">
        <nav class="store_breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
                {% if page_type == 'reset_via_email' %}
                    <li><a href="{% url 'customer:profile-view' %}">{% t "navigation.account.account" %}</a></li>
                    <li class="is-active"><a href="#" aria-current="page">{% t "store.registration.password_reset" %}</a></li>
                {% elif page_type == "resetting" %}
                    <li><a href="{% url 'password-reset' %}">{% t "store.registration.password_reset" %}</a></li>
                    <li class="is-active"><a href="#" aria-current="page">{% t "store.registration.reset_email_sent" %}</a></li>
                {% elif page_type == "new_password,reset_password" %}
                    <li><a href="{% url 'password-reset' %}">{% t "store.registration.password_reset" %}</a></li>
                    <li class="is-active"><a href="#" aria-current="page">{% t "store.registration.enter_new_password" %}</a></li>
                {% elif page_type == "reset_complete" %}
                    <li><a href="{% url 'password-reset' %}">{% t "store.registration.password_reset" %}</a></li>
                    <li class="is-active"><a href="#" aria-current="page">{% t "store.registration.complete" %}</a></li>
                {% elif page_type ==  'set_anonymous_password' %}
                    <li><a href="{% url 'password-reset' %}">{% t "navigation.account.account" %}</a></li>
                    <li class="is-active"><a href="#" aria-current="page">{% t "store.registration.password_recovery" %}</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>
{% endblock %}

{% block content %}
    {% if page_type == 'reset_via_email' %}
    <section class="register_page">
        <div class="store_container">
            <div class="register_header">
                <div class="h4">{% t "store.registration.password_reset" %}</div>
                <div class="font-lg">{% t "store.registration.password_reset_text" %}</div>
            </div>
            <div class="register_form-forgot-pass">
                <form id="password_reset_form" action="." method="post">
                    {% csrf_token %}
                    {% include 'partials/form_fields.html' with size='md' %}
                    <div class="field button-group">
                        <div class="control is-expanded">
                            <button type="submit" class="button button-lg is-fullwidth" data-loading-text='{% t "store.registration.send_reset_email_loading" %}'>{% t "store.registration.send_reset_email" %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% elif page_type == "resetting" %}
    <section class="register_page">
        <div class="store_container">
            <div class="page_content-body content-body">
                <h2>{% t "store.registration.reset_email_sent" %}</h2>
                {% t "store.registration.reset_email_sent_message" %}
            </div>
        </div>
    </section>
    {% elif page_type in "new_password,reset_password" %}
    <section class="register_page">
        <div class="store_container">
            <div class="page_content-body content-body">
                {% if form %}
                    <h2>{% t "store.registration.enter_new_password" %} {{ user.email }}</h2>
                    <p>{% t "store.registration.enter_new_password_message" %}</p>
                    <form  id="password_reset_form" action="." method="post">
                        {% csrf_token %}
                        {% include 'partials/form_fields.html' %}
                         <div class="field button-group">
                            <div class="control is-expanded">
                                <button class="button button-primary" type="submit" data-loading-text='{% t "store.registration.change_my_password_loading" %}'>{% t "store.registration.change_my_password" %}</button>
                            </div>
                        </div>
                    </form>
                {% elif not validlink %}
                    <h2>{% t "store.registration.reset_unsuccessful" %}</h2>
                    <p>{% t "store.registration.reset_unsuccessful_message" %}</p>
                {% endif %}
            </div>
        </div>
    </section>
    {% elif page_type == "reset_complete" %}
    <section class="register_page">
        <div class="store_container">
            <div class="page_content-body content-body">
                <h2>{% t "store.registration.password_reset_complete" %}</h2>
                <p>{% t "store.registration.password_reset_complete_message" %}</p>
                <a href="{{ login_url }}" class="button button-primary">{% t "global.button.login" %}</a>
            </div>
        </div>
    </section>
    {% elif page_type ==  'set_anonymous_password' %}
    <section class="register_page">
        <div class="store_container">
            <div class="page_content-body content-body">
            {% if validlink %}
                <h2>{% t "store.registration.welcome" %}</h2>
                <p>{% t "store.registration.create_your_password with site_name=site.name" %}</p>
                <ul>
                  <li>{% t "store.registration.manage_orders" %}</li>
                  <li>{% t "store.registration.personal_settings" %}</li>
                </ul>
                <form id="password_reset_form" action="." method="post">
                    {% csrf_token %}
                    <div class="mb-5">
                       {% include 'partials/form_fields.html' with style='stacked' %}
                    </div>
                    <div class="field">
                        <button class="button button-primary" type="submit" data-loading-text='{% t "store.registration.continue_to_account" %}'>{% t "store.registration.continue_to_account_loading" %}</button>
                    </div>
                </form>
            {% else %}
                <h2>{% t "store.registration.reset_unsuccessful" %}</h2>
                <p>{% t "store.registration.reset_unsuccessful_message" %}</p>
            {% endif %}
            </div>
        </div>
    </section>
    {% endif  %}
{% endblock %}