{% extends "layouts/funnel_base.html" %}
{% block layout %}
<section class="">
    <div class="funnel_container">
        <div class="">
            <div class="">
                <h1 class="">Store hero value proposition or offer</h1>
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero aliquam, natus quae architecto hic quod!</p>
            </div>
            <div class="button-group">
                <button type="button" class="button button-primary button-lg" data-action="add-product" data-stockrecord-id="1" data-quantity="1" data-clear-cart=true data-redirect=false>
                	Buy One Time
                </button>

                <button type="button" class="button button-secondary button-lg" data-action="add-product" data-stockrecord-id="1" data-quantity="1" data-interval="day" data-interval-count="30" data-clear-cart=true data-redirect=false>
                	Subscribe & Save
                </button>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="funnel_container">
        <div class="store_list">
            <div class="store_list--row">
                <div class="store_row--item">
                    <div class="store_item--inner">
                        <div class="store_item--content">
                            <div class=""><img src="{{ 'img/placeholder650x650.png' | asset_url }}" alt=""></div>
                            <div class="">Title</div>
                            <div class="">Lorem ipsum dolor sit amet</div>
                        </div>
                    </div>
                </div>
                <div class="store_row--item">
                    <div class="store_item--inner">
                        <div class="store_item--content">
                            <div class=""><img src="{{ 'img/placeholder650x650.png' | asset_url }}" alt=""></div>
                            <div class="">Title</div>
                            <div class="">Lorem ipsum dolor sit amet</div>
                        </div>
                    </div>
                </div>
                <div class="store_row--item">
                    <div class="store_item--inner">
                        <div class="store_item--content">
                            <div class=""><img src="{{ 'img/placeholder650x650.png' | asset_url }}" alt=""></div>
                            <div class="">Title</div>
                            <div class="">Lorem ipsum dolor sit amet</div>
                        </div>
                    </div>
                </div>
                <div class="store_row--item">
                    <div class="store_item--inner">
                        <div class="store_item--content">
                            <div class=""><img src="{{ 'img/placeholder650x650.png' | asset_url }}" alt=""></div>
                            <div class="">Title</div>
                            <div class="">Lorem ipsum dolor sit amet</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}