{% extends "layouts/customer_base.html" %}

{% block tabcontent %}
    <form id="profile_form" method="post">
        {% csrf_token %}
        {% include 'partials/form_field.html' with field=form.email %}
        <div class='field-group is-half'>
            
                {% include 'partials/form_field.html' with field=form.first_name %}
          
                {% include 'partials/form_field.html' with field=form.last_name %}
            
        </div>
        <div class='field-group is-half'>
            
                {% include 'partials/form_field.html' with field=form.language size='full' %}
          
                {% include 'partials/form_field.html' with field=form.phone_number %}
                {% include "partials/form_field.html" with field=form.phone_number_country %}
            
        </div>
        <div class="field button-group">
            <div class="control">
                 <button class="button" href="{% url 'customer:profile-view' %}">{% t "global.button.cancel" %}</button>
            </div>
            <div class="control">
                <button type="submit" class="button button-primary" data-loading-text='{% t "global.button.save_loading" %}'>{% t "global.button.save" %}</button>
            </div>

        </div>
    </form>
{% endblock tabcontent %}