{% extends "layouts/base.html" %}


{% block headertext %}
    {% t "customer.register.title" %}
{% endblock %}



{% block breadcrumbs %}
    
    <section class="store_breadcrumbs">
    	<div class="store_container">
	        <nav class="store_breadcrumb" aria-label="breadcrumbs">
	            <ul>
	                <li><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
	                <li><a href="{% url 'customer:profile-view' %}">{% t "navigation.account.account" %}</a></li>
	                <li class="is-active"><a href="#" aria-current="page">{% t "customer.register.title" %}</a></li>
	            </ul>
	        </nav>
	    </div>
	</section>
{% endblock %}

{% block content %}
	<section class="register_page">
	    <div class="store_container">
	        <div class="register_header">
	            <div class="h4">{% t "customer.register.welcome_to" with shop_name=shop_name %}</div>
	            <div class="font-lg">{% t "customer.register.already_have_account" %} <a href="{% url 'customer:login' %}">{% t "customer.register.login" %}</a></div>
	        </div>
	        <div class="register_form-new">
	        	<form method="post">
	        		{% csrf_token %}
	        		{% if form.is_bound and not form.is_valid %}
                        <div class="notification notification-danger">
		                    <button class="delete"></button>
		                    {% t "global.error.please_check_error" %}
		                </div>
                    {% endif %}

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="notification notification-danger">
                            	<button class="delete"></button>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% include 'partials/form_field.html' with field=form.redirect_url %}

                    <div class="field-group is-half">
		                {% include 'partials/form_field.html' with field=form.first_name size='md' %}
		                {% include 'partials/form_field.html' with field=form.last_name size='md' %}
		            </div>
		            <div class="field-group is-half">
		                {% include 'partials/form_field.html' with field=form.email size='md' %}
		                {% include 'partials/form_field.html' with field=form.phone_number size='md' %}
                        {% include "partials/form_field.html" with field=form.phone_number_country %}

		            </div>
		            {% include 'partials/form_field.html' with field=form.password1 size='md' %}
		     
		            <div class="field button-group">
		                <div class="control is-expanded">
		                    <button class="button button-lg is-fullwidth" type="submit" data-loading-text='{% t "global.button.register_loading" %}' >{% t "global.button.register" %}</button>
		                </div>
		            </div>

		            
		        </form>
		        <div class="register_terms">
		          <!--   By continuing you accept our <a href="/terms/">Terms & Conditions</a> and <a href="/privacy/">Privacy Policy</a>. -->
		        </div>
	        </div>
	    </div>
	</section>
{% endblock content %}