{% extends "layouts/customer_base.html" %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ 'css/input_cards.css'|asset_url }}">
{% endblock %}

{% block breadcrumbs %}
<section class="store_breadcrumbs">
    <div class="store_container">
        <nav class="store_breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
                <li><a href="{% url 'customer:summary' %}">{% t "navigation.account.account" %}</a></li>
                <li><a href="{% url 'customer:subscription-list' %}">{% t "navigation.account.subscriptions" %}</a></li>
                <li><a href="{% url 'customer:subscription-detail' pk=subscription.id %}">#{{ subscription.id }}</a></li>
                <li class="is-active"><a href="#" aria-current="page">{% t "customer.subscriptions.payment_method" %}</a></li>
            </ul>
        </nav>
    </div>
</section>
{% endblock %}


{% block tabcontent %}
    <form id="payment-detail-form" method="post">
        <div class="accordion payment-methods">
            {% include "partials/bankcard_payment_method.html" with bankcards=bankcards collapsed=False %}
        </div>
        <div class="field button-group">
            <a class="button" href="{% url 'customer:subscription-detail' pk=subscription.id %}">
                {% t "global.button.back" %}
            </a>
            <button type="submit" class="button button-primary" data-loading-text="Please wait...">
                {% t "global.button.continue" %}
            </button>
        </div>
        <input type="hidden" name="payment_method" />
        {% csrf_token %}
    </form>
{% endblock tabcontent %}

{% block extrascripts %}
    {{ block.super }}
    <script src="{{ 'js/jquery.creditCardValidator.js'|asset_url }}"></script>
    <script src="{{ 'js/input_mask.min.js'|asset_url }}"></script>
    <script src="https://core.spreedly.com/iframe/iframe-v1.min.js"></script>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    core.checkout.init({
        {% if gateway_name %}
            accept_card_types: {{ accept_card_types|safe }},
            gateway_name: "{{ gateway_name }}",
            payment_form: "#payment-detail-form",
            {% if gateway_name == 'spreedly' %}
                shipping_address: JSON.parse('{{ gateway_shipping_address|default:'{}'|safe }}'),
                user_email:'{{ user.email }}',
                spreedly_api_environment_key: '{{ spreedly_api_environment_key }}'
            {% endif %}
        {% endif %}
    });
    
    $('#payment-detail-form').find("input[name='payment_method']").val('bankcard')
{% endblock %}