{% extends "layouts/base.html" %}


{% block title %}
    {% t "store.support.title" %} | {{ block.super }}
{% endblock %}

{% block headertext %}{% endblock %}

{% block breadcrumbs %}

    <section class="store_breadcrumbs">
        <div class="store_container">
            <nav class="store_breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
                    <li class="is-active"><a href="#" aria-current="page">{% t "store.support.title" %}</a></li>
                </ul>
            </nav>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="support_page">
	    <div class="store_container">

			<div class="support_header">
	            <div class="support_header-item">
	                <h1 class="h4">{% t "store.support.heading" %}</h1>
	            </div>
	            <div class="support_header-item">

		             <form  method="get">
                       <div class="field is-grouped">
		                    <span class="control is-expanded">
                            {% include 'partials/form_field.html' with field=form.text nolabel=True %}
                			</span>
                             <span class="control">
		                        <button class="button" type="submit">
		                            {% t "global.button.search" %}
		                        </button>
		                    </span>
		                </div>
                        </form>

	            </div>

	        </div>

	        {% if is_search %}


		    {% if not is_search %}
		    <div class="support_categories">
		    	{% for category in categories %}
		    	<div class="support_category">
	                <div class="support_category_wrap">
	                    <div class="support_category-title">
	                        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
	                    </div>
	                    <div class="support_category-links">
	                        <ul>
	                            {% for article in category.article_set.all|slice:":2" %}
	                            	{% if article.is_public %}
					                    <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
					                {% endif %}
					            {% endfor %}
	                        </ul>
	                    </div>
	                    <div class="support_category-button">
	                        <a href="{{ category.get_absolute_url }}" class="button">
	                            {% t "global.button.more" %}
	                        </a>
	                    </div>
	                </div>
	            </div>
	            {% endfor %}

            {% else %}

		    {% if articles %}
			    <div class="support_search-results">

	                <ul class="support_search-list">
	                	{% for article in articles %}
	                    <li>
	                        <div class="support_search-list-item">
	                            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
	                        </div>
	                        <div class="support_search-list-action">
	                            <a href="{{ article.get_absolute_url }}" class="button button-sm">{% t "store.support.view" %}</a>
	                        </div>
	                    </li>
	                    {% endfor %}


	                </ul>
	                <hr class="mb-4 mt-5">
                    <p class="text-left">
                    	{% url 'customer:support-ticket-create' as create_ticket_link %}
                    	{% t "store.support.create_support_request" with link=create_ticket_link %}
                    	
                    </p>
                    
	        	</div>
	        	{% else %}
	        	 <div class="support_search-results">
			    	<p>{% t "store.support.search_not_found" %}</p>
			    	<hr class="mb-4 mt-5">
			    	<p class="text-left">
                    	{% url 'customer:support-ticket-create' as create_ticket_link %}
                    	{% t "store.support.create_support_request" with link=create_ticket_link %}
                    	
                    </p>
			    </div>
			    
	        {% endif %}

            {% endif %}
            
            {% else %}
            {% if top_categories %}
	            <div class="support_categories">
	            	{% for category in top_categories %}
			            <div class="support_category">
			                <div class="support_category_wrap">
			                    <div class="support_category-title">
			                        {{ category.name }}
			                    </div>
			                    <div class="support_category-links">
			                        <ul>
			                            {% for article in category.article_set.all|slice:":2" %}
			                            	{% if article.is_public %}
					                    		<li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
					                    	{% endif %}
					                    {% endfor %}
			                        </ul>
			                    </div>
			                    <div class="support_category-button">
			                        <a href="{{ category.get_absolute_url }}" class="button">
			                            {% t "global.button.more" %}
			                        </a>
			                    </div>
			                </div>
			            </div>
		            {% endfor %}


		        </div>

	        {% endif %}
        	{% if categories %}
	        	<div class="support_categories">
	            	{% for category in categories %}
			            <div class="support_category">
			                <div class="support_category_wrap">
			                    <div class="support_category-title">
			                        {{ category.name }}
			                    </div>
			                    <div class="support_category-links">
			                        <ul>
			                        	{% for article in category.article_set.all|slice:":3" %}
			                        		{% if article.is_public %}
                    							<li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                    						{% endif %}
                    					{% endfor %}
			                        </ul>
			                    </div>
			                    <div class="support_category-button">
			                        <a href="{{ category.get_absolute_url }}" class="button">
			                            {% t "global.button.more" %}
			                        </a>
			                    </div>
			                </div>
			            </div>
		            {% endfor %}
		            {% else %}
		            <div class="support_categories">
	                       {% t "store.support.no_categories" %}
	                   </div>
	         {% endif %}


		   	</div>
                
		{% endif %}
	    </div>
	</section>
{% endblock content %}