{% extends "layouts/customer_base.html" %}

{% block tabcontent %}
    <form id="change_password_form"  method="post">
        {% csrf_token %}
        {% include 'partials/form_fields.html' %}
        
        <div class="field button-group">
            <div class="control">
                 <button class="button" href="#" onclick="window.history.go(-1);return false">{% t "global.button.cancel" %}</button>
            </div>
            <div class="control">
                <button type="submit" class="button button-primary" data-loading-text='{% t "global.button.save_loading" %}'>{% t "global.button.save" %}</button>
            </div>

        </div>
    </form>
{% endblock tabcontent %}