{% extends "layouts/customer_base.html" %}


{% block header %}<h4>{% t "customer.profile.heading" %}</h4>{% endblock %}
{% block headertext %}<p class="font-lg">{% t "customer.profile.subheading" %}</p>{% endblock %}

{% block tabcontent %}

                <div class="account_profile">
                    <ul class="account_profile-list">
                        <li>
                            <div class="account_profile-item">
                                <span>{% t "customer.profile.name" %}</span>
                                <span>{{ user.get_full_name|default:'-' }}</span>
                            </div>
                            <div class="account_profile-action">
                                <a href="{% url 'customer:profile-update' %}" class="button button-sm">{% t "global.button.edit" %}</a>
                            </div>
                        </li>
                        <li>
                            <div class="account_profile-item">
                                <span>{% t "customer.profile.email" %}</span>
                                <span>{{ user.email|default:"-" }}</span>
                            </div>
                            <div class="account_profile-action">
                                <a href="{% url 'customer:profile-update' %}" class="button button-sm">{% t "global.button.edit" %}</a>
                            </div>
                        </li>
                        <li>
                            <div class="account_profile-item">
                                <span>{% t "customer.profile.password" %}</span>
                                <span>******************</span>
                            </div>
                            <div class="account_profile-action">
                                <a href="{% url 'customer:change-password' %}" class="button button-sm">{% t "global.button.edit" %}</a>
                            </div>
                        </li>
                        <li>
                            <div class="account_profile-item">
                                <span>{% t "customer.profile.phone" %}</span>
                                <span>{{ user.phone_number|default:'-' }}</span>
                            </div>
                            <div class="account_profile-action">
                                <a href="{% url 'customer:profile-update' %}" class="button button-sm">{% t "global.button.edit" %}</a>
                            </div>
                        </li>
                        <li>
                            <div class="account_profile-item">
                                <span>{% t "customer.profile.lang" %}</span>
                                <span>{{ user.language|language_name_local }}</span>
                            </div>
                            <div class="account_profile-action">
                                <a href="{% url 'customer:profile-update' %}" class="button button-sm">{% t "global.button.edit" %}</a>
                            </div>
                        </li>
                        {% comment %}
                            {% if subscribe_status %}
                            <li>
                                <div class="account_profile-item">
                                    <span>Marketing Preferences</span>
                                    <span>Subscribe to Marketing Emails</span>
                                </div>
                                <div class="account_profile-action">
                                    <label class="checkbox">
                                        <input type="checkbox" checked>
                                        Yes
                                    </label>
                                    {{ subscribe_status }}
                                </div>
                            </li>
                            {% endif %}
                        {% endcomment %}

                        
                    </ul>
                    {% if profile_detail_form.fields %}
                        <form id='profile_detail_form' method="post">
                            {% csrf_token %}
                            {% include "partials/form_fields.html" with form=profile_detail_form %}
                        </form>
                    {% endif %}
                </div>


{% endblock %}



{% block extrascripts %}
    {{ block.super }}
    {% if taboola_lead_event %}
        {{ taboola_lead_event }}
    {% endif %}
{% endblock %}