{% extends "layouts/customer_base.html" %}
{% block breadcrumbs %}
<section class="store_breadcrumbs">
    <div class="store_container">
        <nav class="store_breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
                <li><a href="{% url 'customer:summary' %}">{% t "navigation.account.account" %}</a></li>
                <li><a href="{% url 'customer:order-list' %}">{% t "navigation.account.orders" %}</a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ page_title }}</a></li>
            </ul>
        </nav>
    </div>
</section>
{% endblock %}
{% block header %}<h4>{% t "customer.order.heading" %}</h4>{% endblock %}
{% block headertext %}
    <p class="font-lg">
        {% t "customer.order.heading_order_date" with order_date=order.date_placed %}{% if order.status %}{% t "customer.order.heading_order_status" with order_status=order.status %}{% endif %}
    </p>
{% endblock %}
{% block modals %}
{{ block.super }}
<!-- cancel modal -->
<form method="post" id="cancel_order_form">
    <input type="hidden" value="cancel_order" name="action" />
    {% csrf_token %}
    <div class="store_modal" id="cancleOrderModal" tabindex="-1" role="dialog">
        <div class="store_modal-background"></div>
            <div class="store_modal-content">

                <div class="store_modal-box content-body text-center">
                    <h5>{% t "customer.order.cancel_modal_header" with number=order.number %}</h5>
                    <p>{% t "customer.order.cancel_modal_body" %}</p>

                    {% include "partials/form_fields.html" with form=cancel_order_form %}
                    {% if order.subscription_set.count %}
                    {% include "partials/form_fields.html" with form=cancel_subscription_form %}
                    {% endif %}

                    <div class="button-group is-centered">
                        <a class="button store_modal-dismiss">
                            {% t "global.button.nevermind" %}
                        </a>
                        <button class="button" type="submit" data-loading-text='{% t "global.button.submit_loading" %}'>
                            {% t "global.button.confirm" %}
                        </button>
                    </div>
                </div>
            </div>
        <button class="store_modal-close store_modal-dismiss" aria-label="close"></button>
    </div>
</form>
{% endblock modals %}
{% block tabcontent %}
<div class="account_order-card">
    <div class="account_order-detail">
        <div class="account_order-detail-shipping">
            <div class="account_order-detail-header">
                {% t "customer.order.shipping_address" %}
            </div>
            <div class="account_order-detail-address">
                <address>
                    {% for field in order.shipping_address.active_address_fields %}
                    {{ field }}<br />
                    {% endfor %}
                </address>
                {{ order.shipping_address.phone_number|default:"-" }}


            </div>
        </div>

        <div class="account_order-detail-pay">
            <div class="account_order-detail-header">
                {% t "customer.order.payment_method" %}
            </div>
            <div class="account_order-detail-card">
                {% for source in order.sources.all %}
                    {{ source.label }}
                    <br>
                {% empty %}
                    {% t "customer.order.no_payment_required" %}
                {% endfor %}
            </div>
        </div>
        <div class="account_order-detail-summary">
            <div class="account_order-detail-header">
                {% t "customer.order.order_summary" %}
            </div>
            <div class="account_order-detail-summary-list">
                <ul>
                    {% with discounts=order.basket_discounts %}
                    {% block discount_totals %}
                    {% if discounts %}
                        <li>
                            <span>{% t "customer.order.cart_total_ex_discounts" %}</span>
                            {{ order.basket_total_before_discounts_excl_tax|currency:order.currency }} 
                        </li> 
                            
                        {% for discount in discounts %} 
                        <li>
                            <span>{% t "customer.order.discount" %}</span>
                            {{ discount.offer_name }} - {{ discount.amount|currency:order.currency }}
                        </li>
                        {% endfor %}
                    {% endif %}
                    {% endblock discount_totals %}
                    
                    {% block basket_total %}
                    {% if discounts %}
                    <li>
                        <span>{% t "customer.order.cart_total_inc_discounts" %}</span>
                        {{ order.basket_total_excl_tax|currency:order.currency }}
                    </li>
                    {% else %}
                    <li>
                        <span>{% t "customer.order.cart_total" %}</span>
                        {{ order.basket_total_excl_tax|currency:order.currency }}
                    </li>
                    {% endif %}
                    {% endblock basket_total %}
                    {% endwith %}
                    {% block shipping_totals %}
                    {% if order.has_shipping_discounts %}
                    <li>
                        <span>{% t "customer.order.shipping_total_ex_discounts" %}</span>
                        {{ order.shipping_before_discounts_excl_tax|currency:order.currency }}
                    </li>
                    {% for discount in order.shipping_discounts %}
                    <li>
                        <span>{% t "customer.order.discount" %}</span>
                        {{ discount.offer_name }}
                        - {{ discount.amount|currency:order.currency }}
                    </li>
                    {% endfor %}
                    <li>
                        <span>{% t "customer.order.shipping_total_inc_discounts" %}</span>
                        {{ order.shipping_excl_tax|currency:order.currency }}
                    </li>
                    {% else %}
                    <li>
                        <span>{% t "customer.order.shipping_total" %}</span>
                        {{ order.shipping_excl_tax|currency:order.currency }}
                    </li>
                    {% endif %}
                    {% endblock %}
                    {% block display_taxes %}
                    {% if order.display_taxes %}
                    <li>
                        <span>{% t "customer.order.total" %} {{ order.display_taxes }}</span>
                        {{ order.total_tax|currency:order.currency }}
                    </li>
                    {% endif %}
                    {% endblock display_taxes %}
                    {% block order_total %}
                    <li class="account_order-detail-summary-total">
                        <span>{% t "customer.order.order_total" %}</span>
                        {{ order.total_incl_tax|currency:order.currency }}
                    </li>
                    {% endblock order_total %}
                </ul>
            </div>
        </div>
    </div>
    <div class="account_order-detail-actions">
        {% if order.status != "canceled" %}
            {% comment %}
                <a href="#" class="button">{% t "customer.order.track_order" %}</a>
            {% endcomment %}

            {% if order.offline_transactions.count > 0 %}
                <a href="{% url 'offline:offline-banktransfer-detail' number=order.number %}" class="button">{% t "customer.order.payment_instructions" %}</a>
            {% endif %}
            {% if order.can_be_canceled %}
                {% comment %}
                    <a href="#" class="button store_modal-button" data-target="cancleOrderModal">{% t "global.button.cancel" %}</a>
                {% endcomment %}
                 <a href="{% url 'customer:support-ticket-create' %}" class="button">{% t "global.button.request_cancellation" %}</a>
            {% endif %}
        {% endif %}
    </div>
</div>
<table class="account_table">
    <thead>
        <tr>
            <th scope="col">{% t "tables.heading.product" %}</th>
            <th scope="col">{% t "tables.heading.qty" %}</th>
            <th scope="col">{% t "tables.heading.price_ex_tax" %}</th>
            <th scope="col">{% t "tables.heading.price_inc_tax" %}</th>
            {% comment %}
            <th scope="col">&nbsp;</th>
            {% endcomment %}
        </tr>
    </thead>
    <tbody>
        {% for line in order.lines.all %}
            {% with product=line.product %}
            <tr>
                <td data-label="Product">
                    {% if product %}
                    <div class="account_table-product">
                        <div class="account_order-table-pimage">
                            <!-- <img src="assets/img/placeholder100x100.png" alt="product name"> -->
                            {% with image=line.product.primary_image %}
                                {% image_thumbnail image.original "200x200" upscale=False as thumb %}
                                <a href="{{ line.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                            {% endwith %}

                        </div>
                        <div>
                            {% if product.is_public %}
                            <div class="account_order-table-pname">
                                <a href="{{ product.get_absolute_url }}">{{ line.description }}</a>
                            </div>
                            {% else %}
                            <div class="account_order-table-pname">
                                {{ line.description }}
                            </div>
                            {% endif %}
                            {% if line.frequency %}
                                <div class="account_order-table-schedule">{% t "tables.content.frequency" with frequency=line.frequency %}</div>
                            {% endif %}
                                {% if product|is_review_permitted:user %}
                                <a href="{% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id %}#addreview">{% t "tables.actions.write_review" %}</a>
                                {% endif %}
                            {% else %}
                                <div class="account_order-table-pname">
                                {{ line.description }}
                            </div>
                                <div class="account_order-table-schedule">{% t "tables.content.frequency" with frequency=line.frequency %}</div>
                            {% endif %}
                        </div>
                </td>
                <td data-label='{% t "tables.heading.quantity" %}'>{{ line.quantity }}</td>
                <td data-label='{% t "tables.heading.price_ex_tax" %}'>{{ line.line_price_before_discounts_excl_tax|currency:order.currency }}</td>
                <td data-label='{% t "tables.heading.price_inc_tax" %}'>{{ line.line_price_before_discounts_incl_tax|currency:order.currency }}</td>
                    <td data-label='{% t "tables.heading.action" %}'>
                        {% if product and product.is_public %}
                        <form id="line_form_{{ line.id }}" action="{% url 'customer:order-line' order_number=order.number line_id=line.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="reorder" />
                            <button id="reorder_line_{{ line.id }}" class="button button-sm" type="submit" data-loading-text='{% t "tables.actions.reorder_loading" %}'>{% t "tables.actions.reorder" %}</button>
                        </form>
                        {% else %}
                        {% t "tables.content.not_available" %}
                        {% endif %}
                    </td>

            </tr>
            {% endwith %}
        {% endfor %}
    </tbody>
</table>

<div class="account_order-reorder-action">
    {% block order_actions %}
    <form id="order_form_{{ order.id }}" action="{% url 'customer:order' order_number=order.number %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="order_id" value="{{ order.id }}" />
        <input type="hidden" name="action" value="reorder" />
        <button type="submit" class="button" data-loading-text='{% t "global.button.reorder_loading" %}'>{% t "global.button.reorder_all" %}</button>
    </form>
    {% endblock order_actions %}
</div>

<hr>

<br>
<br>
<h6>{% t "customer.order.shipping_method" %}</h2>
<p>{{ order.shipping_method }}</p>
<hr>

{% endblock tabcontent %}