{% extends "layouts/customer_base.html" %}
{% block title %}Order Tracking{% endblock %}
{% block breadcrumbs %}
<section class="store_breadcrumbs">
    <div class="store_container">
        <nav class="store_breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
                <li><a href="{% url 'customer:summary' %}">{% t "navigation.account.account" %}</a></li>
                <li><a href="{% url 'customer:order-list' %}">{% t "navigation.account.orders" %}</a></li>
                <li><a href="{% url 'customer:order' pk=order.number %}">#{{ order.number }}</a>
                </li>
                <li class="is-active"><a href="#" aria-current="page">{{ page_title }}</a></li>
            </ul>
        </nav>
    </div>
</section>
{% endblock %}
{% block header %}<h4>Track your package</h4>{% endblock %}
{% block tabcontent %}
<div class="account_order-track">
    <div class="account_order-track-steps">
        <ul class="steps has-content-centered">
            <li class="steps-segment">
                <span class="steps-marker"></span>
                <div class="steps-content">
                    <p>Step 1</p>
                    <p>This is the first step, which means you start here.</p>
                </div>
            </li>
            <li class="steps-segment is-active">
                <span class="steps-marker"></span>
                <div class="steps-content">
                    <p>Step 2</p>
                    <p>This is the second step. Once you complete the first step, you will end up here.</p>
                </div>
            </li>
            <li class="steps-segment">
                <span class="steps-marker"></span>
                <div class="steps-content">
                    <p>Step 3</p>
                    <p>The fourth step. Nearly there!</p>
                </div>
            </li>
            <li class="steps-segment">
                <span class="steps-marker"></span>
                <div class="steps-content">
                    <p>Step 4</p>
                    <p>And finally the last step. You have successfully completed all the steps.</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="account_order-track-details">
        <div class="account_order-track-details-item">
            <div class="account_order-track-details-shipping">
                <div class="h5">Shipping Info</div>
                <div class="account_order-track-details-shipping-row">
                    <div class="account_order-track-details-shipping-item">
                        Delivery Carrier:
                    </div>
                    <div class="account_order-track-details-shipping-item">
                        FedEx
                    </div>
                </div>
                <div class="account_order-track-details-shipping-row">
                    <div class="account_order-track-details-shipping-item">
                        Tracking #:
                    </div>
                    <div class="account_order-track-details-shipping-item">
                        <a href="">0665406606044</a>
                    </div>
                </div>
                <div class="account_order-track-details-shipping-row">
                    <div class="account_order-track-details-shipping-item">
                        Shipping Address:
                    </div>
                    <div class="account_order-track-details-shipping-item">
                        <address>
                            1245 101st Street
                            Stony Plain, Alberta T1F 1V2, Canada
                        </address>
                    </div>
                </div>
                <div class="account_order-track-details-shipping-row">
                    <div class="account_order-track-details-shipping-item">
                        Order Number:
                    </div>
                    <div class="account_order-track-details-shipping-item">
                        01565465464
                    </div>
                </div>
            </div>
        </div>
        <div class="account_order-track-details-item">
            <div class="account_order-track-details-history">
                <div class="h5">Tracking History</div>
                <div class="account_order-track-details-history-item">
                    <p class="text-bold">
                        Mon, Aug 12th, 2021
                    </p>
                    <p>
                        2:04 PM | Out for Delivery
                    </p>
                    <p>
                        11:00 AM | Arrived Carrier Location
                    </p>
                </div>
                <div class="account_order-track-details-history-item">
                    <p class="text-bold">
                        Sun, Aug 11th, 2021
                    </p>
                    <p>
                        12 PM | Order Processed & sent to carrier location
                    </p>
                </div>
                <div class="account_order-track-details-history-item">
                    <p class="text-bold">
                        Sat, Aug 10th, 2021
                    </p>
                    <p>
                        5:36 PM | Order Placed
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="account_order-card">
        <div class="account_order-detail">
            <div class="account_order-detail-shipping">
                <div class="account_order-detail-header">
                    {% t "customer.order.shipping_address" %}
                </div>
                <div class="account_order-detail-address">
                    <address>
                        {% for field in order.shipping_address.active_address_fields %}
                        {{ field }}<br />
                        {% endfor %}
                    </address>
                    {{ order.shipping_address.phone_number|default:"-" }}
                </div>
            </div>
            <div class="account_order-detail-pay">
                <div class="account_order-detail-header">
                    {% t "customer.order.payment_method" %}
                </div>
                <div class="account_order-detail-card">
                    {% for source in order.sources.all %}
                    {{ source.label }}
                    <br>
                    {% empty %}
                    {% t "customer.order.no_payment_required" %}
                    {% endfor %}
                </div>
            </div>
            <div class="account_order-detail-summary">
                <div class="account_order-detail-header">
                    {% t "customer.order.order_summary" %}
                </div>
                <div class="account_order-detail-summary-list">
                    <ul>
                        {% with discounts=order.basket_discounts %}
                        {% block discount_totals %}
                        {% if discounts %}
                        <li>
                            <span>{% t "customer.order.cart_total_ex_discounts" %}</span>
                            {{ order.basket_total_before_discounts_excl_tax|currency:order.currency }} </li> {% for discount in discounts %} <li>
                            <span>{% t "customer.order.discount" %}</span>
                            {{ discount.offer_name }}
                            - {{ discount.amount|currency:order.currency }}
                        </li>
                        {% endfor %}
                        {% endif %}
                        {% endblock discount_totals %}
                        {% block basket_total %}
                        {% if discounts %}
                        <li>
                            <span>{% t "customer.order.cart_total_inc_discounts" %}</span>
                            {{ order.basket_total_excl_tax|currency:order.currency }}
                        </li>
                        {% else %}
                        <li>
                            <span>{% t "customer.order.cart_total" %}</span>
                            {{ order.basket_total_excl_tax|currency:order.currency }}
                        </li>
                        {% endif %}
                        {% endblock basket_total %}
                        {% endwith %}
                        {% block shipping_totals %}
                        {% if order.has_shipping_discounts %}
                        <li>
                            <span>{% t "customer.order.shipping_total_ex_discounts" %}</span>
                            {{ order.shipping_before_discounts_excl_tax|currency:order.currency }}
                        </li>
                        {% for discount in order.shipping_discounts %}
                        <li>
                            <span>{% t "customer.order.discount" %}</span>
                            {{ discount.offer_name }}
                            - {{ discount.amount|currency:order.currency }}
                        </li>
                        {% endfor %}
                        <li>
                            <span>{% t "customer.order.shipping_total_inc_discounts" %}</span>
                            {{ order.shipping_excl_tax|currency:order.currency }}
                        </li>
                        {% else %}
                        <li>
                            <span>{% t "customer.order.shipping_total" %}</span>
                            {{ order.shipping_excl_tax|currency:order.currency }}
                        </li>
                        {% endif %}
                        {% endblock %}
                        {% block display_taxes %}
                        {% if order.display_taxes %}
                        <li>
                            <span>{% t "customer.order.total" %} {{ order.display_taxes }}</span>
                            {{ order.total_tax|currency:order.currency }}
                        </li>
                        {% endif %}
                        {% endblock display_taxes %}
                        {% block order_total %}
                        <li class="account_order-detail-summary-total">
                            <span>{% t "customer.order.order_total" %}</span>
                            {{ order.total_incl_tax|currency:order.currency }}
                        </li>
                        {% endblock order_total %}
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
    <table class="account_table">
        <thead>
            <tr>
                <th scope="col">{% t "tables.heading.product" %}</th>
                <th scope="col">{% t "tables.heading.qty" %}</th>
                <th scope="col">{% t "tables.heading.price_ex_tax" %}</th>
                <th scope="col">{% t "tables.heading.price_inc_tax" %}</th>
                <th scope="col">{% t "tables.heading.total" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for line in order.lines.all %}
            {% with product=line.product %}
            <tr>
                <td data-label="Product">
                    {% if product %}
                    <div class="account_table-product">
                        <div class="account_order-table-pimage">
                            {% with image=line.product.primary_image %}
                            {% image_thumbnail image.original "200x200" upscale=False as thumb %}
                            <a href="{{ line.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                            {% endwith %}
                        </div>
                        <div>
                            {% if product.is_public %}
                            <div class="account_order-table-pname">
                                <a href="{{ product.get_absolute_url }}">{{ line.description }}</a>
                            </div>
                            {% else %}
                            <div class="account_order-table-pname">
                                {{ line.description }}
                            </div>
                            {% endif %}
                            {% if line.frequency %}
                            <div class="account_order-table-schedule">{% t "tables.content.frequency" with frequency=line.frequency %}</div>
                            {% endif %}
                            {% if product|is_review_permitted:user %}
                            <a href="{% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id %}#addreview">{% t "tables.actions.write_review" %}</a>
                            {% endif %}
                            {% else %}
                            <div class="account_order-table-pname">
                                {{ line.description }}
                            </div>
                            <div class="account_order-table-schedule">{% t "tables.content.frequency" with frequency=line.frequency %}</div>
                            {% endif %}
                        </div>
                </td>
                <td data-label='{% t "tables.heading.quantity" %}'>{{ line.quantity }}</td>
                <td data-label='{% t "tables.heading.price_ex_tax" %}'>{{ line.line_price_before_discounts_excl_tax|currency:order.currency }}</td>
                <td data-label='{% t "tables.heading.price_inc_tax" %}'>{{ line.line_price_before_discounts_incl_tax|currency:order.currency }}</td>
                <td data-label='{% t "tables.heading.total" %}'>
                    <div class="account_table-total">
                        {{ line.line_price_incl_tax|currency:object.currency }}
                    </div>
                </td>
            </tr>
            {% endwith %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock tabcontent %}