{% extends "layouts/customer_base.html" %}

{% block extra_breadcrumbs %}
    <li>
        <a href="{% url 'customer:address-list' %}">{% t "customer.address.address_book" %}</a>
    </li>
{% endblock %}

{% block tabcontent %}
<form method="post">
    {% csrf_token %}
    <p>{% t "customer.address.delete_warning" %}</p>

    <p><strong>{{ object.summary }}</strong></p>

    <div class="field button-group">
            <div class="control">
                <button type="submit" class="button button-danger" data-loading-text='{% t "global.button.delete_loading" %}'>{% t "global.button.delete" %}</button> 
                
            </div>
             <div class="control">
                <a class="button" href="{% url 'customer:address-list' %}">{% t "global.button.cancel" %}</a>
            </div>
    </div>
</form>
{% endblock tabcontent %}