<!DOCTYPE html>
<html lang='{{ LANGUAGE_CODE|default:"en" }}'>

<head>
    <title>{% block title %}{{ shop_name }} - {{ shop_tagline }}{% endblock %}</title>
    <link rel="alternate" hreflang="{{ LANGUAGE_CODE }}" href="https://{{ request.get_host }}{{ request.path }}" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="created" content="{% now " jS M Y h:i" %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="viewport" content="{% block viewport %}width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no{% endblock %}" />
    <meta name="robots" content="NOARCHIVE,NOCACHE" />

    {% block favicon %}
    {% if shop_icon %}
        {% with image=shop_icon %}
            {% image_thumbnail image "100x" upscale=False as thumb_shop_icon %}
            <link rel="shortcut icon" href="{{ thumb_shop_icon.url }}" />
        {% endwith %}
    {% endif %}
    {% endblock %}

    {% block styles %}
     <link rel="stylesheet" href="{{ 'css/funnel_example.css'|asset_url }}" />
    {% endblock %}

    {% block tracking %}
    {% endblock %}

    {% app_hook 'global_header' %}
</head>

<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
    {% csrf_token %}

    {% block layout %}
    {% endblock %}

    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% endblock %}

    {% core_js %}

    {% include "partials/messages_script.html" %}
    {% app_hook 'global_footer' %}
</body>

</html>
