{% extends "layouts/base.html" %}


{% block title %}
    {% t "global.error.404" %} | {{ block.super }}
{% endblock %}

{% block error_heading %}
    {% t "global.error.404" %}
{% endblock %}

{% block content_wrapper %}
<section>
    <div class="store_container text-center">
        <div class="page_content-body content-body">
        {% block error_message %}
            <p class="py-5">{% t "global.error.404_message" %}</p>
        {% endblock %}
        </div>
    </div>
</section>
{% endblock %}