{% extends "layouts/base.html" %}

{% block title %}
    {% t "order.cart.title" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
 <section class="store_breadcrumbs">
    <div class="store_container">
        <nav class="store_breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
                <li class="is-active"><a href="#" aria-current="page">{% t "order.cart.title" %}</a></li>
            </ul>
        </nav>
    </div>
</section>
{% endblock %}

{# Hide mini-basket so we don't have two baskets to keep in sync #}
{% block mini_basket %}{% endblock %}


{% block content %}
    {% include 'partials/cart_content.html' %}
{% endblock content %}

{% block modals %}{% endblock %}


{% block onbodyload %}
    {{ block.super }}
    {# Cart JS actions #}
    core.basket.init();
{% endblock %}
