{% extends "layouts/base.html" %}

{% block topbar %}{% include "partials/topbar.html" %}{% endblock %}

{% block content_wrapper %}
<section class="store_hero">
    <div class="store_container">
        <div class="store_hero-content">
            <div class="store_hero-text">
                <h1 class="store_hero-title">Store hero value proposition or offer</h1>
                <p class="store_hero-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero aliquam, natus quae architecto hic quod!</p>
            </div>
            <div class="store_hero-cta button-group">
                <a href="{% url 'catalogue:index' %}" class="button button-primary button-lg">Shop Now</a>
                <a href="{% url 'catalogue:detail' 'example-product' 2 %}" class="button button-secondary button-lg">Shop Now</a>
            </div>
        </div>
    </div>
</section>
<section class="store_collection">
    <div class="store_container-fluid">
        <div class="store_collection-list">
            <div class="store_collection-row">
                {% for category in product_categories|by_ids:'1,2,3'  %}
                <div class="store_collection-item">
                    <div class="store_collection-item-inner">
                        <div class="store_collection-item-content">
                            <div class="store_collection-item-title ">{{ category.name }}</div>
                            <div class="store_collection-item-subtitle">{{ category.description }}</div>
                            <div class="store_collection-item-cta">
                                <a href="{{ category.get_absolute_url }}" class="button button-muted">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="store_products">
    <div class="store_container">
        <h2 class="store_products-header">Featured Products</h2>
        <div class="store_products-list">
            <div class="store_products-row">
                {% for product in products|by_ids:'2,3,4,5' %}
                <div class="store_products-item">
                    <div class="store_products-item-inner">
                        <div class="store_products-content">
                            <div class="store_products-img">
                                {% block product_image %}
                                {% with image=product.primary_image %}
                                {% image_thumbnail image.original "350x350" crop="center" upscale=True as thumb %}
                                    <img original="{{ image.original }}" src="{{ thumb.url }}" alt="{{ product.get_title }}">
                                {% endwith %}
                                {% endblock %}
                            </div>
                            <div class="store_products-title h5">{{ product.get_title }}</div>
                            {% if product.rating %}
                            <div class="store_products-rating">
                                <div class="store_products-rating-stars">
                                {% for i in '12345' %}
                                    {% if forloop.counter <= product.rating %}
                                        <span class="is-count">&#9733;</span>
                                    {% else %}
                                        <span>&#9733;</span>
                                    {% endif %}
                                {% endfor %}
                                </div>
                                <div class="store_products-rating-text">({{product.num_approved_reviews}})</div>
                            </div>
                            {% endif %}
                            {% block product_price %}
                            <div class="store_products-price">
                                {% purchase_info_for_product request product as session %}
                                {% if session.price.exists %}
                                    {% if session.price.price_retail > session.price.price %}
                                         <span class="font-sm">
                                            <s>{{ session.price.price_retail|currency:session.price.currency }}</s>
                                        </span>
                                    {% endif %}
                                    <span class="font-lg font-bold">
                                        {{ session.price.price|currency:session.price.currency }}
                                    </span>
                                    {% else %}
                                    &nbsp;
                                {% endif %}
                            </div>
                            {% endblock %}
                            <div class="store_products-cta">
                                <a href="{{ product.get_absolute_url }}" class="button button-primary">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
<section class="store_feature" style="background:#f4f9fc">
    <div class="store_container">
        <div class="store_feature-content">
            <div class="store_feature-text ">
                <h2 class="store_feature-title">SPECIAL OFFER</h2>
                <div class="store_feature-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero aliquam, natus quae architecto hic quod!</div>
                <div class="store_feature-cta button-group">
                    <a class="button button-secondary button-lg" href="/checkout/add/?product=2:1&currency={{ request.CURRENCY_CODE }}&replace=true">Buy now</a>
                    <a class="button button-primary button-lg" href="/checkout/add/?product=2:1:3:month&currency={{ request.CURRENCY_CODE }}&replace=true">Subscribe & Save</a>
                </div>
            </div>
            <div class="store_feature-img">
                <img src="{{ 'img/generic-product-placeholder.png' | asset_url }}" alt="">
            </div>
        </div>
    </div>
</section>


<section class="store_testimonials" >
    <div class="store_container">
        <h2 class="store_testimonials-header">Testimonials</h2>
        <div class="store_testimonials-list">
            <div class="store_testimonials-row">
                <div class="store_testimonials-item">
                    <div class="store_testimonials-item-inner">
                        <div class="store_testimonials-content">
                            <div>
                                <div class="store_testimonials-rating">
                                    <div class="store_products-rating-stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                                </div>
                                <div class="store_testimonials-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero aliquam
                                    Lorem ipsum dolor sit
                                </div>
                            </div>
                            <div class="store_testimonials-name">Kristal D. Murphy</div>
                        </div>
                    </div>
                </div>
                <div class="store_testimonials-item">
                    <div class="store_testimonials-item-inner">
                        <div class="store_testimonials-content">
                            <div>
                                <div class="store_testimonials-rating">
                                    <div class="store_products-rating-stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                                </div>
                                <div class="store_testimonials-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero aliquam
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero aliquam, natus quae architecto hic quod!
                                    Lorem ip
                                </div>
                            </div>
                            <div class="store_testimonials-name">Kristal D. Murphy</div>
                        </div>
                    </div>
                </div>
                <div class="store_testimonials-item">
                    <div class="store_testimonials-item-inner">
                        <div class="store_testimonials-content">
                            <div>
                                <div class="store_testimonials-rating">
                                    <div class="store_products-rating-stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                                </div>
                                <div class="store_testimonials-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero aliquam
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero aliquam, natus quae architecto hic quod!
                                    Lorem ip
                                </div>
                            </div>
                            <div class="store_testimonials-name">Kristal D. Murphy</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="store_feature" style="background: #ffffff url('{{ "img/bg.jpg" | asset_url }}') no-repeat bottom right;background-size: cover;">
    <div class="store_container">
        <div class="store_feature-content store_feature-content-lg">
            <div class="store_feature-text text-center py-6">
                <h2 class="store_feature-title">Example Custom Section</h2>
                <div class="store_feature-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero aliquam, natus quae architecto hic quod!</div>
                <div class="store_feature-cta">
                    <a href="{% url 'catalogue:index' %}" class="button button-lg button-primary">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="store_grid">
    <div class="store_container">
        <div class="store_grid-list">
            <div class="store_grid-row">
                <div class="store_grid-item">
                    <div class="store_grid-item-inner">
                        <div class="store_grid-item-content text-center">
                            <div class="store_grid-item-img"><img src="{{ 'img/icons/icon-shipping.svg' | asset_url }}" alt=""></div>
                            <div class="store_grid-item-title">Shipping</div>
                            <div class="store_grid-item-subtitle">Shipping policy text</div>
                        </div>
                    </div>
                </div>
                <div class="store_grid-item">
                    <div class="store_grid-item-inner">
                        <div class="store_grid-item-content text-center">
                            <div class="store_grid-item-img"><img src="{{ 'img/icons/icon-guarantee.svg' | asset_url }}" alt=""></div>
                            <div class="store_grid-item-title">Guarantee</div>
                            <div class="store_grid-item-subtitle">Guarantee policy text</div>
                        </div>
                    </div>
                </div>
                <div class="store_grid-item">
                    <div class="store_grid-item-inner">
                        <div class="store_grid-item-content text-center">
                            <div class="store_grid-item-img"><img src="{{ 'img/icons/icon-support.svg' | asset_url }}" alt=""></div>
                            <div class="store_grid-item-title">Support</div>
                            <div class="store_grid-item-subtitle">Support policy text</div>
                        </div>
                    </div>
                </div>
                <div class="store_grid-item">
                    <div class="store_grid-item-inner">
                        <div class="store_grid-item-content text-center">
                            <div class="store_grid-item-img"><img src="{{ 'img/icons/icon-secure.svg' | asset_url }}" alt=""></div>
                            <div class="store_grid-item-title">Secure</div>
                            <div class="store_grid-item-subtitle">Secure policy text</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.store_testimonials-row').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            arrows: true,
            dots: false,
            fade: false,
            responsive: [
                {
                    breakpoint: 960,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }

            ]

        });

    });
</script>
{% endblock %}