{% extends "layouts/base.html" %}

{% block title %}
    "{{ query }}" | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<section class="store_breadcrumbs">
        <div class="store_container">
            <nav class="store_breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
                    <li class="is-active"><a aria-current="page" href="#"> {% t "store.search.products_matching" with q=query %} </a></li>
                </ul>
            </nav>
        </div>
    </section>
{% endblock %}


{% block headertext %}
{% endblock %}

{% block content %}

<section class="catalogue_page">
    <div class="store_container">
           {% if page.object_list %}
            <div class="catalogue_list">
                <div class="catalogue_list-row">
                    {% for result in page.object_list %}
                    <div class="catalogue_list-item">
                        <div class="catalogue_list-item-inner">
                            <div class="catalogue_item-img">

                                    {% with image=result.object.primary_image %}
                                        {% image_thumbnail image.original "350x350" crop="center" upscale=True as thumb %}
                                        <a href="{{ result.object.get_absolute_url }}" >
                                            <img original="{{ image.original }}" src="{{ thumb.url }}" alt="{{ result.object.get_title }}">
                                        </a>
                                    {% endwith %}


                            </div>

                             <div class="catalogue_item-name">
                                 <a href="{{ result.object.get_absolute_url }}" >{{ result.object.get_title }}</a>
                             </div>

                             <div class="catalogue_item-desc">
                                {{ result.object.excerpt|safe|truncatewords:10 }}
                             </div>

                             <div class="catalogue_item-price">
                                {% purchase_info_for_product request result.object as session %}
                                    {% if session.price.exists %}
                                <div class="catalogue_item-price-current">

                                        {% if session.price.excl_tax == 0 %}
                                            {% t "store.catalogue.free" %} 
                                        {% elif session.price.is_tax_known %}
                                            {{ session.price.incl_tax|currency:session.price.currency }}
                                        {% else %}
                                            {{ session.price.excl_tax|currency:session.price.currency }}
                                        {% endif %}
                                </div>
                                    {% else %}
                                         &nbsp;
                                    {% endif %}
                            </div>
                        </div>


                    </div>

                    {% endfor %}
                </div>

            </div>
            {% include "partials/pagination.html" with page_obj=page %}
            {% else %}
            <div class="text-center content-body">
                <h4>{% t "store.search.search_not_found" %}</h4>
                {% if suggestion %}
                    {% url 'search:search' as search_url %}
                    {% t "store.search.suggestion" with link=search_url %}
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}