{% extends "layouts/base.html" %}

{% block title %}
{% t "order.confirmation.order_confirmation_title" with number=order.number %} | {{ block.super }}
{% endblock title %}

{% block header %}{% endblock header %}
{% block content %}
<!-- Page Content-->
{% if offline_activated and order.offline_transactions.count > 0 %}
    {% include "checkout/partials/offline_content.html" %}
{% else %}
<section class="order-confirm_page">
    <div class="store_container">
        <div class="page_content-body content-body">
            <div class="order-confirm_header">
                <h3>{% t "order.confirmation.thanks" %}</h3>
                <p class="font-lg">
                    {% t "order.confirmation.thanks_message" with number=order.number %}
                </p>
            </div>
            {% block shipping_info %}
            <h4 class="mb-3">{% t "order.confirmation.shipping" %}</h4>
            <div class="account_order-card">
                <div class="account_order-detail">
                    <div class="order-confirm_detail">
                        <div class="account_order-detail-header">
                            {% t "order.confirmation.shipping_address" %}
                        </div>
                        <div class="account_order-detail-address">
                            {% if order.shipping_address %}
                            <address>
                                {% for field in order.shipping_address.active_address_fields %}
                                    {{ field }}<br />
                                {% endfor %}
                            </address>
                            {% else %}
                                {% t "order.confirmation.shipping_address" %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="order-confirm_detail">
                        <div class="account_order-detail-header">
                            {% t "order.confirmation.shipping_contact" %}
                        </div>
                        <div class="account_order-detail-shipNotes">
                            {% if order.shipping_address.phone_number %}
                                {% t "order.confirmation.phone" %}: {{ order.shipping_address.phone_number }}
                                {% if order.guest_email %}
                                    <br />{% t "order.confirmation.email" %}: {{ order.guest_email }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="order-confirm_detail">
                        <div class="account_order-detail-header">
                            {% t "order.confirmation.shipping_notes" %}
                        </div>
                        <div class="account_order-detail-shipNotes">
                            {% if order.shipping_address.notes %}
                                <h6>{% t "order.confirmation.instructions" %}</h6>
                                {{ order.shipping_address.notes|linebreaks }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="order-confirm_detail">
                        <div class="account_order-detail-header">
                            {% t "order.confirmation.shipping_method" %}
                        </div>
                        <div class="account_order-detail-shipmethod">
                            {{ order.shipping_method }}
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            {% block payment_info %}
            <h4 class="mb-3">{% t "order.confirmation.payment" %}</h4>
            <div class="account_order-card">
                <div class="account_order-detail">
                    {% if order.billing_address %}
                    <div class="order-confirm_detail">
                        <div class="account_order-detail-header">
                            {% t "order.confirmation.billing_address" %}
                        </div>
                        <div class="account_order-detail-card">
                            <address>
                                {% for field in order.billing_address.active_address_fields %}
                                    {{ field }}<br />
                                {% endfor %}
                            </address>
                        </div>
                    </div>
                    {% endif %}
                    <div class="order-confirm_detail">
                        <div class="account_order-detail-header">
                            {% t "order.confirmation.payment" %}
                        </div>
                        <div class="account_order-detail-card">
                            {% for source in order.sources.all %}
                            {{ source.label }}
                            <br>
                            {% empty %}
                            {% t "order.confirmation.payment_not_required" %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            <h4>{% t "order.confirmation.order_contents" %}</h4>
            <table class="account_table">
                <thead>
                    <tr>
                        <th scope="col">{% t "tables.heading.items_purchased" %}</th>
                        <th scope="col">{% t "tables.heading.quantity" %}</th>
                        <th scope="col">{% t "tables.heading.total" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in order.lines.all %}
                    <tr>
                        <td data-label='{% t "tables.heading.product" %}'>
                            <div class="account_table-product">
                                <div class="account_order-table-pimage">
                                    {% with image=line.product.primary_image %}
                                    {% image_thumbnail image.original "200x200" upscale=False as thumb %}
                                    <a href="{{ line.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                                    {% endwith %}
                                </div>
                                <div>
                                    <div class="account_order-table-pname">
                                        <a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a>
                                    </div>
                                    {% if line.upc %}
                                    <div class="account_order-table-schedule">{{ line.upc }}</div>
                                    {% endif %}
                                    {% if line.frequency %}
                                        <div class="account_order-table-schedule">{% t "tables.content.frequency" with frequency=line.frequency %}</div>
                                    {% endif %}
                                    {% if line.est_dispatch_date %}
                                        <div class="account_order-table-schedule">
                                        {% t "tables.content.est_dispatch_date" with date=line.est_dispatch_date %}</div>
                                    {% endif %}
                                </div>
                        </td>
                        <td data-label='{% t "tables.heading.quantity" %}'>{{ line.quantity }}</td>
                        <td data-label='{% t "tables.heading.price_ex_tax" %}'>{{ line.line_price_before_discounts_excl_tax|currency:order.currency }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% block basket_totals %}
            <div class="order-confirm_summary">
                <h4>{% t "order.confirmation.totals" %}</h4>
                <table class="order-summary_table">
                    <tbody>
                        {% with discounts=order.basket_discounts %}
                            {% block discount_totals %}
                                {% if discounts %}
                                    <tr>
                                        <td>{% t "order.confirmation.subtotal_before_discount" %}</td>
                                        <td>{{ order.basket_total_before_discounts_excl_tax|currency:order.currency }}</td>
                                    </tr>
                                    {% for discount in discounts %}
                                    <tr>
                                        <td><span class="tag tag-success">{% t "order.confirmation.discount" with date=line.est_dispatch_date %}</span> {{ discount.offer }}</td>
                                        <td>- {{ discount.amount|currency:order.currency }}</td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endblock discount_totals %}
                            {% block basket_total %}
                                {% if discounts %}
                                <tr>
                                    <td>{% t "order.confirmation.subtotal_after_discount"  %}</td>
                                    <td>{{ order.basket_total_excl_tax|currency:order.currency }}</td>
                                </tr>
                                {% else %}
                                <tr class="basket-items">
                                    <td>{% t "order.confirmation.subtotal" %}</td>
                                    <td>
                                        {{ order.basket_total_excl_tax|currency:order.currency }}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endblock basket_total %}
                        {% endwith %}
                        {% block shipping_total %}
                            <tr>
                                <td>{% t "order.confirmation.shipping_method" %}</td>
                                <td>{{ order.shipping_method }}</td>
                            </tr>
                            {% if order.has_shipping_discounts %}
                                <tr>
                                    <td>{% t "order.confirmation.shipping_charge_before_discount" %}</td>
                                    <td>{{ order.shipping_before_discounts_excl_tax|currency:order.currency }}</td>
                                </tr>
                                {% for discount in order.shipping_discounts %}
                                <tr>
                                    <td><span class="tag tag-success">{% t "order.confirmation.discount" %}</span> {{ discount.offer }}</td>
                                    <td>- {{ discount.amount|currency:order.currency }}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td>{% t "order.confirmation.shipping_charge_after_discount" %}</td>
                                    <td>{{ order.shipping_excl_tax|currency:order.currency }}</td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td>{% t "order.confirmation.shipping_charge" %}</td>
                                    <td>
                                        {{ order.shipping_excl_tax|currency:order.currency }}
                                    </td>
                                </tr>
                            {% endif %}

                        {% endblock shipping_total %}

                        {% block display_taxes %}
                            {% if order.display_taxes %}
                                <tr>
                                    <td>{% t "order.confirmation.total" %} {{ order.display_taxes }}</td>
                                    <td>
                                        {{ order.total_tax|currency:order.currency }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endblock display_taxes %}

                        {% block post_order_action_totals %}
                            {% with actions=order.post_order_actions %}
                                {% if actions %}
                                    <tr>
                                        <td colspan="2">{% t "order.confirmation.post_order_actions" %}</td>
                                    </tr>
                                    {% for action in order.post_order_actions %}
                                    <tr>
                                        <td class="total" colspan="2">
                                            <p>{{ action.message }}</p>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        {% endblock post_order_action_totals %}
                        {% block order_total %}
                        <tr>
                            <td>{% t "order.confirmation.order_total" %}</td>
                            <td>{{ order.total_incl_tax|currency:order.currency }}</td>
                        </tr>
                        {% endblock order_total %}
                    </tbody>
                </table>
                {% endblock basket_totals %}
            </div>
            {% block order_tracking %}
            <div class="order-confirm-tracking">
                {% if not order.user %}

                    <h2>{% t "order.confirmation.tracking_your_order" %}</h2>

                    <p>{% t "order.confirmation.tracking_your_order_message" %}</p>
                    <a class="button button-primary" href="{% url 'customer:anon-order' order_number=order.number hash=order.verification_hash %}">{% t "order.confirmation.view_order_status" %}</a>
                {% endif %}
            </div>
            {% endblock %}
            {% block order_actions %}
            <div class="order-confirm-actions">
                <div class="field button-group">
                        <a onclick="window.print()" href="#" class="button button-success">{% t "order.confirmation.print_this_page" %}</a>
                        <a href="{{ homepage_url }}" class="button button-primary">{% t "order.confirmation.continue_shopping" %}</a>
                </div>
            </div>
            {% endblock order_actions %}
        </div>
    </div>
</section>

{% endif %}
{% endblock %}

{% block tracking %}
{{ block.super }}
{% include "partials/trackings/extra_conversion_scripts.html" %}
{% include "partials/trackings/google/analytics_transaction.html" %}

{% if taboola_make_purchase_event %}{{ taboola_make_purchase_event }}{% endif %}

{% if send_analytics_event %}

{% app_hook 'complete_checkout' %}

    {% include "partials/trackings/facebook/analytics_transaction.html" %}
{% endif %}

{% endblock %}

{% block checkout_extrascipts %}
    {% include 'checkout/partials/confirmation_scripts.html' %}
{% endblock %}