{% extends "layouts/customer_base.html" %}
{% block breadcrumbs %}
<section class="store_breadcrumbs">
    <div class="store_container">
        <nav class="store_breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
                <li><a href="{% url 'customer:summary' %}">{% t "navigation.account.account" %}</a></li>
                <li><a href="{% url 'customer:subscription-list' %}">{% t "navigation.account.subscriptions" %}</a></li>
                <li><a href="{% url 'customer:subscription-detail' pk=subscription_id %}">#{{ subscription_id }}</a></li>
                <li class="is-active"><a href="#" aria-current="page">{% t "customer.subscriptions.shipping_address" %}</a></li>
            </ul>
        </nav>
    </div>
</section>
{% endblock %}
{% block tabcontent %}
{% if user.is_authenticated %}
{% if addresses %}
<div class="account_addresses">
    <div class="account_addresses-add">
        <h4>{% t "customer.subscriptions.change_shipping_address_heading" %}</h4>
    </div>
    <table class="account_table">
        <tbody>
            {% for address in addresses %}
            {% block select_address_form %}
            <tr>
                <td scope="row" data-label="Shipping Address">
                    
                    <address>
                        {% block select_address_fields %}
                        {% for field in address.active_address_fields %}
                        <span>{{ field }}</span><br />
                        {% endfor %}
                        {% endblock %}
                    </address>
                </td>
                <td data-label="">
                    <div class="account_table-actions">        
                        <form method="post" id="select_shipping_address_{{ address.id }}">
                            {% csrf_token %}
                            <input type="hidden" name="address_id" value="{{ address.id }}" />
                            {% if address.is_default_for_shipping %}
                                <button type="submit" class="button button-primary button-sm ship-address" data-loading-text='{% t "global.button.save_loading" %}'>
                                    {% t "customer.subscriptions.ship_to_default_address" %}</button>
                                {% else %}
                                <button type="submit" class="button button-primary button-sm ship-address" data-loading-text='{% t "global.button.save_loading" %}'>{% t "customer.subscriptions.ship_to_this_address" %}</button>
                            {% endif %}
                            <br>
                        </form>
                    </div>
                </td>
                <td data-label="">
                    <div class="account_table-actions">
                        <a href="{% url 'customer:address-detail' pk=address.id %}" class="button button-sm">{% t "global.button.edit" %}</a>
                        <a href="{% url 'customer:address-delete' pk=address.id %}" class="button button-sm">{% t "global.button.delete" %}</a>
                        
                    </div>
                </td>
            </tr>
            {% endblock %}
            {% endfor %}
        </tbody>
    </table>
    
    {% endif %}
    {% endif %}

</div>
<div class="mb-3">
    <h4>{% t "customer.subscriptions.new_address" %}</h4>
</div>

{% block new_address_form %}
    <form method="post" id="new_shipping_address">
        {% csrf_token %}
         {% include 'partials/form_field.html' with field=form.country size='full'  %}
         <div class='field-group is-half'>
            
                {% include 'partials/form_field.html' with field=form.first_name %}
          
                {% include 'partials/form_field.html' with field=form.last_name %}
            
        </div>
        <div class='field-group is-half'>
            
                {% include 'partials/form_field.html' with field=form.line1 %}
          
                {% include 'partials/form_field.html' with field=form.line2 %}
            
        </div>
        <div class='field-group is-half'>
            
                {% include 'partials/form_field.html' with field=form.state %}
          
                {% include 'partials/form_field.html' with field=form.line4 %}
            
        </div>

        <div class='field-group is-half'>
            
                {% include 'partials/form_field.html' with field=form.postcode %}
          
                {% include 'partials/form_field.html' with field=form.phone_number %}
            
        </div>
        
        <div class="field button-group">
            <div class="control">
                 <button class="button" href="{% url 'customer:subscription-detail' pk=subscription_id %}" >{% t "global.button.cancel" %}</button>
            </div>
            <div class="control">
                <button type="submit" class="button button-primary" data-loading-text='{% t "global.button.update_loading" %}'>{% t "global.button.update" %}</button>
            </div>

        </div>
    </form>
    {% endblock %}
{% endblock tabcontent %}