{% extends "layouts/customer_base.html" %}

{% block header %}<h4>{% t "customer.subscriptions.heading" %}</h4>{% endblock %}

{% block tabcontent %}
    {% if subscriptions %}
        <div class="account_order-history">
            <table class="account_table">
                <thead>
                    <tr>
                        <th scope="col">{% t "tables.heading.id" %}</th>
                        <th scope="col">{% t "tables.heading.status" %}</th>
                        <th scope="col">{% t "tables.heading.next_renewal" %}</th>
                        <th scope="col">{% t "tables.heading.total" %}</th>
                        <th scope="col">{% t "tables.heading.schedule" %}</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>

                <tbody>
                    {% for subscription in subscriptions %}
                        <tr>
                            <td data-label='{% t "tables.heading.id" %}'><a href="{% url 'customer:subscription-detail' subscription.pk %}">{{ subscription.pk }}</a></td>
                            <td data-label='{% t "tables.heading.status" %}'>

                                {% if subscription.status == subscription.ACTIVE %}
                                    <span class="tag tag-success">{{ subscription.status|title }}</span>
                                {% elif subscription.status == subscription.PENDING %}
                                    <span class="tag tag-muted">{{ subscription.status|title }}</span>
                                {% elif subscription.status == subscription.PAST_DUE %}
                                    <span class="tag tag-warning">{{ subscription.status|title }}</span>
                                {% elif subscription.status == subscription.CANCELED %}
                                    <span class="tag tag-danger">{{ subscription.status|title }}</span>
                                {% else %}
                                    <span class="tag tag-primary">{{ subscription.status|title }}</span>
                                {% endif %}
                            </td>
                            <td data-label='{% t "tables.heading.next_renewal" %}'>{{ subscription.next_renewal_date }}</td>
                            <td data-label='{% t "tables.heading.total" %}'>{{ subscription.total_incl_shipping.incl_tax|currency:subscription.currency }}</td>
                            <td data-label='{% t "tables.heading.schedule" %}'>{{ subscription.frequency }}</td>
                            <td data-label='{% t "tables.heading.action" %}'><a href="{% url 'customer:subscription-detail' subscription.pk %}" class="button button-sm">{% t "tables.actions.manage" %}</a></td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
            {% include "partials/pagination.html" %}
        </div>
    {% else %}
        <p>{% t "customer.subscriptions.no_subscriptions" %}</p>
    {% endif %}
{% endblock tabcontent %}