{% extends "layouts/base.html" %}
{% block seo %}
    {% seo %}
{% endblock %}
{% block title %}
    {{ product.get_meta_title }} | {{ block.super }}
{% endblock %}
{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}
{% block breadcrumbs %}
<section class="store_breadcrumbs">
    <div class="store_container">
        <nav class="store_breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
                <li><a href="{% url 'catalogue:index' %}">{% t "navigation.main.shop" %}</a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ product.get_title }}</a></li>
            </ul>
        </nav>
    </div>
</section>
{% endblock %}
{% block header %}{% endblock header %}
{% block content %}
<section class="product-{{product.id}} catalogue_product">
    <div class="store_container">
        <div class="catalogue_product-content">

            {% block product_gallery %}
            <div class="catalogue_product-gallery">
                {% include "partials/product_carousel.html" %}
            </div>
            {% endblock %}

            <div class="catalogue_product-detail prod-info">
                <div class="catalogue_product-title">
                    {{ product.get_title }}
                    {% if user.is_staff %}
                    <span class="font-normal font-sm">
                        <a href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small> {% t "store.catalogue.edit_this_product" %}</small></a>
                    </span>
                    {% endif %}
                </div>
                <div class="catalogue_product-price">
                    {% block product_stock_record %}
                        {% purchase_info_for_product request product as session %}
                        {% if session.price.exists %}
                            {% if session.price.price_retail > session.price.price %}
                                <del data-product-price-retail>{{ session.price.price_retail|currency:session.price.currency }}</del>
                            {% endif %}
                            <span data-product-price>{{ session.price.price|currency:session.price.currency }}</span>
                        {% else %}
                        &nbsp;
                        {% endif %}
                    {% endblock %}
                </div>


                {% if product.rating %}
                <div class="catalogue_item-rating">
                    <div class="catalogue_item-rating-stars">
                        {% for i in '12345' %}
                            {% if forloop.counter <= product.rating %}
                                <span class="is-count">&#9733;</span>
                            {% else %}
                                <span>&#9733;</span>
                            {% endif %}
                        {% endfor %}
                        <span>&nbsp;&nbsp;({{product.num_approved_reviews}})</span>
                    </div>
                </div>
                {% endif %}

                {% for field in variant_form %}
                    {% if 'attr' in field.id_for_label %}
                        {% include "partials/form_field.html" with field=field %}
                    {% endif %}
                {% endfor %}

                {% block buy_options %}
                {% purchase_info_for_product request product as session %}
                {% if product.get_interval and interval_count_choices and session.availability.is_available_to_buy %}
                <div class="font-lg font-bold text-uppercase mb-2 mt-2">{% t "store.catalogue.buy_option" %}</div>
                <div class="catalogue_product-option">
                    <div class="field">
                        <div class="control">
                            <label class="radio" for="product-one-time">
                                <input type="radio" id="product-one-time" name="subscription-option" value="one-time" checked>
                                {% t "store.catalogue.one_time" %}
                            </label>
                            <label class="radio" for="product-subscribe">
                                <input type="radio" id="product-subscribe" name="subscription-option" value="subscribe">
                                {% t "store.catalogue.subscribe_save" %}
                            </label>
                        </div>
                    </div>
                    <div id="product-subscribe-options" style="display: none;">
                        <h6>{% t "store.catalogue.order_arrival_frequency" %}</h6>
                        <div class="button-group" id="product-subscribe-options-select">
                            {% for interval_count_choice_value, interval_count_choice_text in interval_count_choices %}
                            <label class="radio" for="{{ interval_count_choice_value }}_{{ product.get_interval }}">
                                <input id="{{ interval_count_choice_value }}_{{ product.get_interval }}" type="radio" autocomplete="off" name="options" value="{{ interval_count_choice_value }}" interval="{{ product.get_interval }}"> {{ interval_count_choice_text }}
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                <hr class="mb-3">
                {% endblock %}

                {% block product_basket_form %}
                <div class="catalogue_product-action">
                    {% purchase_info_for_product request product as session %}
                    {% if session.availability.is_available_to_buy %}
                    {% basket_form request product 'single' as basket_form %}
                    <form id="add-to-cart" class="catalogue_product-action-form" action="{% url 'basket:add' pk=product.pk %}" method="post">
                        {% csrf_token %}
                        {% include "partials/form_fields.html" with form=basket_form nolabel=True selectStyle='is-medium' %}
                        <button type="submit" class="button button-primary button-lg is-fullwidth omnisend-add-to-cart-button" data-loading-text='{% t "store.catalogue.add_to_cart_loading" %}' data-disabled-text='{% t "store.catalogue.product_unavailable" %}'>{% t "store.catalogue.add_to_cart" %}</button>
                    </form>
                    {% else %}
                    <div>{% t "store.catalogue.out_of_stock" %}</div>
                    {% endif %}
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
</section>
<section class="catalogue_product-extra">
    <div class="store_container">
        <div class="catalogue_product-tabs">
            <div class="tabs is-centered is-boxed is-medium">
                <ul>
                    <li id="catalogue_product-about-tab" data-target="tab-about" class="is-active">
                        <a href="#tab-about">
                            <span>{% t "store.catalogue.about" %}</span>
                        </a>
                    </li>
                    <li id="catalogue_product-reviews-tab" data-target="tab-reviews">
                        <a href="#tab-reviews">
                            <span>{% t "store.catalogue.reviews" %} ({{ product.num_approved_reviews }})</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="catalogue_product-tab-content" class="content-body tab-content">
                <div id="tab-about">
                    {% block product_description %}
                        {% if product.get_description %}
                            {{ product.get_description|safe }}
                        {% endif %}
                    {% endblock %}
                </div>
                <div id="tab-reviews" class="is-hidden">
                    {% if product.num_approved_reviews == 0 %}
                        <p>
                            {% if product|is_review_permitted:user %}
                                {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                                {% t "store.catalogue.no_reviews" %} <a href="{{ add_review_url }}#addreview">{% t "store.catalogue.no_reviews_add" %}</a>.
                            {% else %}
                                {% t "store.catalogue.no_reviews" %}.
                            {% endif %}
                        </p>
                    {% else %}
                        <h4 class="mb-3">{% t "store.catalogue.customer_reviews" %}</h4>
                        <div class="catalogue_item-rating">
                            <div class="catalogue_item-rating-stars">
                                {% for i in '12345' %}
                                    {% if forloop.counter <= product.rating %} <span class="is-count">&#9733;</span>
                                {% else %}
                                    <span>&#9733;</span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="catalogue_item-rating-count">
                                ({{product.num_approved_reviews}} Customer Reviews)
                            </div>
                        </div>
                        <div class="catalogue_product-review-list">

                            {% for review in product.reviews.approved.all|slice:":3" %}
                            <div class="catalogue_product-review">
                                <div class="catalogue_product-review-header">
                                    <div class="catalogue_product-review-title h5">
                                        {{ review.title }}
                                    </div>
                                    <div class="catalogue_item-rating mb-0">
                                        <div class="catalogue_item-rating-stars">
                                            {% for i in '12345' %}
                                            {% if forloop.counter <= review.score %} <span class="is-count">&#9733;</span>
                                                {% else %}
                                                <span>&#9733;</span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="catalogue_product-review-body">
                                    {{ review.body|striptags }}
                                    <div class="catalogue_product-review-footer">
                                        {% if review.user == user %}
                                            {% t "store.review.reviewed_by_you" with review_date=review.date_created %}
                                        {% else %}
                                            {% t "store.review.reviewed_by_other" with name=review.reviewer_name review_date=review.date_created %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            {% if product.num_approved_reviews > 3 %}
                                <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}" class="button button-sm">{% t "store.catalogue.see_all_reviews" %}</a>
                            {% endif %}

                            {% if product|is_review_permitted:user %}
                                <a id="write_review" href="{% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id %}#addreview" class="button button-primary button-sm">
                                    {% t "store.catalogue.write_a_review" %}
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
</section>
{% if product.sorted_recommended_products %}
    {% include "partials/recommended_products.html" %}
{% endif %}
{% endblock content %}

{% block extrascripts %}
{{ block.super }}

{{ product.data|json_script:"product-data" }}

<script>
(function() {
    theme.product.init({
        add_to_cart_msg: '{% t "store.catalogue.add_to_cart" %}',
        unavailable_msg: '{% t "store.catalogue.product_unavailable" %}'
    });
})();
</script>

{% app_hook 'view_product' %}
{% app_hook 'add_to_cart' %}

{% endblock %}